Repository neo4j-partners/neo4j-kubernetes-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, golangci-lint-fast

go-fmt:
  name: go fmt
  entry: gofmt
  args:
  - -w
  - -s
  language: system

go-imports:
  name: go imports
  entry: bash -c 'goimports -w .'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

golangci-lint-fast:
  name: golangci-lint (fast)
  entry: bash -c 'make golangci-lint && ./bin/golangci-lint run --config .golangci-precommit.yml --fix --timeout=2m'
  language: system
  pass_filenames: false

Require serviceAccount.name when Helm create is false
  charts/neo4j-operator/README.md
  charts/neo4j-operator/templates/_helpers.tpl
  charts/neo4j-operator/values.yaml
Due: none

design: bdr13 on CR database
  docs/02-technical-design/decision-records/business/database/013-database.md
  docs/02-technical-design/decision-records/readme.md
Due: none

tests: change status for testpcv pending
  .github/workflows/ci.yml
  tests/actions/assert/storage-error/verify.sh
  tests/suites/feature-storage.yaml
Due: none

Decouple default DB topology from minimumMembers / primaries.members
  config/crd/bases/neo4j.com_neo4js.yaml
  src/api/v1beta1/common_types.go
  src/api/v1beta1/neo4j_types.go
  src/api/v1beta1/zz_generated.deepcopy.go
  src/internal/domain/formation/reconcile.go
  src/internal/domain/formation/reconcile_test.go
  src/internal/render/context.go
  src/internal/render/serverconfig/cluster_defaults_test.go
  src/internal/render/serverconfig/operator_defaults.go
Due: go-fmt, go-imports, golangci-lint-fast

Harden Neo4j CR admission against privileged pods and hostPath
  charts/neo4j-operator/README.md
  charts/neo4j-operator/templates/deployment.yaml
  charts/neo4j-operator/templates/webhook_certificate.yaml
  charts/neo4j-operator/templates/webhook_service.yaml
  charts/neo4j-operator/templates/webhook_validating.yaml
  charts/neo4j-operator/values.yaml
  src/cmd/manager/main.go
  src/internal/domain/workload/reconcile.go
  src/internal/render/storage/validate.go
  src/internal/render/storage/volumes_test.go
  src/internal/render/workload/security.go
  src/internal/render/workload/security_test.go
  src/internal/render/workload/statefulset.go
  src/internal/render/workload/statefulset_test.go
  src/internal/validation/neo4j_validator.go
  src/internal/validation/neo4j_validator_test.go
Due: go-fmt, go-imports, golangci-lint-fast

chore(security): pin operator image and run govulncheck
  .github/workflows/ci.yml
  Dockerfile
  Makefile
  charts/neo4j-operator/README.md
  charts/neo4j-operator/templates/_helpers.tpl
  charts/neo4j-operator/templates/deployment.yaml
  charts/neo4j-operator/values.yaml
  go.mod
  go.sum
Due: go-mod-tidy

Add configurable dual-sink operator logging with domain action detail
  Makefile
  charts/neo4j-operator/README.md
  charts/neo4j-operator/templates/deployment.yaml
  charts/neo4j-operator/values.yaml
  docs/02-technical-design/decision-records/architecture/014-operator-observability.md
  docs/03-user-documentation/operator/04-troubleshooting.md
  docs/03-user-documentation/operator/05-logging.md
  docs/03-user-documentation/readme.md
  docs/03-user-documentation/reference/error-overview.md
  src/cmd/manager/main.go
  src/internal/controller/neo4j/reconciler.go
  src/internal/controller/neo4j/reconciler_test.go
  src/internal/domain/connectivity/reconcile.go
  src/internal/domain/formation/reconcile.go
  src/internal/domain/persistence/reconcile.go
  src/internal/domain/serverconfig/reconcile.go
  src/internal/domain/shared/apply.go
  src/internal/domain/trust/reconcile.go
  src/internal/domain/workload/reconcile.go
  src/internal/logging/setup.go
  src/internal/logging/setup_test.go
  src/internal/status/oracle.go
  src/internal/status/oracle_test.go
  src/internal/status/writer.go
Due: go-fmt, go-imports, golangci-lint-fast

test(e2e): pin Neo4j memory in the scale fixture so it fits CI
  tests/fixtures/neo4j-cluster-scale.yaml
Due: none

test(e2e): workload-scale suite (NEO-2-011, AC-NEO-SCALE-001/002/003)
  .github/workflows/ci.yml
  tests/actions/assert/scale-in/run.sh
  tests/actions/assert/scale-in/verify.sh
  tests/actions/assert/scale-out/run.sh
  tests/actions/assert/scale-out/verify.sh
  tests/config/neo4j/cases/cluster-scale.sh
  tests/coverage.md
  tests/design.md
  tests/fixtures/neo4j-cluster-scale.yaml
  tests/lib/scale.sh
  tests/suites/workload-scale.yaml
Due: none

fix(security): require opt-in label and named keys for mounted Secrets
  docs/02-technical-design/analysis/helm-fields/fields/secretMounts.md
  docs/02-technical-design/crd-spec/neo4j/spec.md
  docs/02-technical-design/crd-spec/neo4j/validation.md
  docs/02-technical-design/decision-records/business/neo4j/005-storage-volume-mode.md
  docs/02-technical-design/decision-records/business/neo4j/007-tls-trust-model.md
  docs/03-user-documentation/neo4j/01-quickstart-standalone.md
  docs/03-user-documentation/operator/04-troubleshooting.md
  docs/03-user-documentation/reference/api-cheatsheet.md
  examples/README.md
  examples/secrets/README.md
  examples/secrets/auth-password.yaml
  examples/secrets/plugin-licenses.yaml
  examples/storage/10-secret-mounts-secret.yaml
  examples/storage/10-secret-mounts.yaml
  examples/storage/README.md
  hack/gen-cluster-tls.sh
  src/api/v1beta1/common_types.go
  src/cmd/manager/main.go
  src/internal/controller/neo4j/reconciler.go
  src/internal/render/secrets/mount.go
  src/internal/render/secrets/mount_test.go
  src/internal/render/storage/volumes_test.go
  src/internal/render/workload/auth_secret.go
  src/internal/validation/neo4j_validator.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(security): stop CR clusterDomain from steering operator Bolt dial
  docs/02-technical-design/analysis/helm-fields/fields/clusterDomain.md
  docs/02-technical-design/crd-spec/neo4j/spec.md
  docs/02-technical-design/crd-spec/neo4j/validation.md
  docs/02-technical-design/decision-records/business/neo4j/006-service-exposure-connectivity.md
  docs/03-user-documentation/neo4j/01-quickstart-standalone.md
  docs/03-user-documentation/operator/04-troubleshooting.md
  docs/03-user-documentation/reference/api-cheatsheet.md
  examples/README.md
  examples/secrets/README.md
  examples/secrets/auth-password.yaml
  examples/standalone/02-auth-existing-secret.yaml
  src/api/v1beta1/common_types.go
  src/internal/domain/formation/members.go
  src/internal/domain/formation/members_test.go
  src/internal/domain/formation/reconcile.go
  src/internal/render/context.go
  src/internal/render/secrets/mount.go
  src/internal/render/secrets/mount_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(security): gate scale-in via status.drainOK; freeze minimumMembers
  charts/neo4j-operator/templates/_helpers.tpl
  config/crd/bases/neo4j.com_neo4js.yaml
  config/rbac/role.yaml
  docs/02-technical-design/crd-spec/neo4j/spec.md
  docs/02-technical-design/crd-spec/neo4j/status.md
  docs/02-technical-design/crd-spec/neo4j/validation.md
  docs/03-user-documentation/neo4j/02-quickstart-cluster.md
  docs/03-user-documentation/operator/04-troubleshooting.md
  examples/cluster/13-scale-out.yaml
  src/api/v1beta1/common_types.go
  src/api/v1beta1/neo4j_types.go
  src/api/v1beta1/neo4j_validation_test.go
  src/api/v1beta1/zz_generated.deepcopy.go
  src/internal/controller/neo4j/reconciler.go
  src/internal/domain/formation/members.go
  src/internal/domain/formation/members_test.go
  src/internal/domain/formation/reconcile.go
  src/internal/domain/formation/reconcile_test.go
  src/internal/validation/neo4j_validator.go
  src/internal/validation/neo4j_validator_test.go
Due: go-fmt, go-imports, golangci-lint-fast

test(e2e): default probes + status condition catalog (NEO-3-009-PROBE-01, OP-2-003-STATUS-01)
  tests/actions/assert/probes-default/run.sh
  tests/actions/assert/probes-default/verify.sh
  tests/actions/assert/status-conditions/run.sh
  tests/actions/assert/status-conditions/verify.sh
  tests/coverage.md
  tests/suites/workload-standalone.yaml
Due: none

fix(security): honor whenScaled Retain for scale-in PVC wipe
  docs/03-user-documentation/neo4j/02-quickstart-cluster.md
  docs/03-user-documentation/operator/03-uninstall.md
  docs/03-user-documentation/operator/04-troubleshooting.md
  examples/cluster/13-scale-out.yaml
  src/api/v1beta1/common_types.go
  src/internal/domain/formation/reconcile.go
  src/internal/domain/persistence/member_wipe.go
  src/internal/domain/persistence/member_wipe_test.go
  src/internal/render/storage/retention.go
  src/internal/render/storage/retention_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(security): reject unsatisfiable PDB minAvailable
  docs/02-technical-design/crd-spec/neo4j/spec.md
  docs/02-technical-design/crd-spec/neo4j/validation.md
  examples/cluster/15-pdb.yaml
  src/api/v1beta1/common_types.go
  src/internal/domain/workload/reconcile.go
  src/internal/render/workload/pdb.go
  src/internal/render/workload/pdb_test.go
  src/internal/validation/neo4j_validator.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(security): scope uninstall wipe to operator-owned objects
  docs/03-user-documentation/operator/03-uninstall.md
  src/internal/domain/persistence/member_wipe.go
  src/internal/domain/persistence/member_wipe_test.go
  src/internal/domain/persistence/uninstall.go
  src/internal/domain/persistence/uninstall_test.go
  src/internal/render/context.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(security): skip deleting unowned PDB/NetworkPolicy/ServiceMonitor
  src/internal/domain/connectivity/servicemonitor.go
  src/internal/domain/connectivity/servicemonitor_test.go
  src/internal/domain/workload/reconcile.go
  src/internal/domain/workload/reconcile_pdb_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(security): pin whenDeleted so late Delete cannot arm wipe
  config/crd/bases/neo4j.com_neo4js.yaml
  docs/03-user-documentation/operator/03-uninstall.md
  examples/standalone/18-pvc-delete-on-uninstall.yaml
  src/api/v1beta1/common_types.go
  src/api/v1beta1/neo4j_types.go
  src/api/v1beta1/zz_generated.deepcopy.go
  src/internal/domain/persistence/reconcile.go
  src/internal/domain/persistence/uninstall.go
  src/internal/domain/persistence/uninstall_test.go
  src/internal/render/storage/retention.go
  src/internal/render/storage/retention_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(security): reject reserved additionalMount paths and names
  examples/storage/09-additional-mounts.yaml
  src/api/v1beta1/common_types.go
  src/internal/render/storage/validate.go
  src/internal/render/storage/volumes_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(security): require loadBalancerSourceRanges for LoadBalancer
  config/crd/bases/neo4j.com_neo4js.yaml
  config/samples/neo4j_v1beta1_neo4j_cluster_tls.yaml
  docs/02-technical-design/crd-spec/neo4j/spec.md
  examples/cluster/04-service-loadbalancer.yaml
  examples/cluster/06-tls-full.yaml
  examples/cluster/14-full.yaml
  examples/standalone/05-service-loadbalancer.yaml
  examples/standalone/15-full.yaml
  src/api/v1beta1/common_types.go
  src/api/v1beta1/neo4j_types.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(docs): correct PVC reclaim label selector on uninstall
  docs/03-user-documentation/operator/03-uninstall.md
  src/internal/render/context_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(security): surface Secret refusals with stable reasons and Events
  .github/workflows/ci.yml
  docs/02-technical-design/architecture/readme.md
  docs/02-technical-design/security.md
  docs/03-user-documentation/operator/04-troubleshooting.md
  docs/03-user-documentation/reference/error-overview.md
  examples/README.md
  examples/secrets/README.md
  examples/standalone/02-auth-existing-secret.yaml
  src/internal/controller/neo4j/reconciler.go
  src/internal/render/secrets/mount.go
  src/internal/render/secrets/mount_test.go
  src/internal/status/oracle.go
  src/internal/status/oracle_test.go
  src/internal/status/writer.go
  tests/actions/assert/reconcile-error/run.sh
  tests/actions/assert/reconcile-error/verify.sh
  tests/actions/credentials/ensure-secret/run.sh
  tests/actions/credentials/ensure-secret/verify.sh
  tests/config/neo4j/cases/standalone-auth-secretref-undelegated.sh
  tests/config/neo4j/cases/standalone-auth-secretref-unlabeled.sh
  tests/config/neo4j/cases/standalone-auth-secretref.sh
  tests/suites/feature-credentials.yaml
Due: go-fmt, go-imports, golangci-lint-fast

fix(e2e): run SHOW SERVERS against -d system, and stop swallowing its stderr
  tests/actions/assert/cluster-formed/verify.sh
  tests/lib/connectivity.sh
  tests/lib/scale.sh
Due: none

fix(tests): assert cluster formation over the system database
  tests/actions/assert/cluster-db-routing/run.sh
  tests/actions/assert/cluster-db-routing/verify.sh
  tests/actions/assert/cluster-db-topology/run.sh
  tests/actions/assert/cluster-db-topology/verify.sh
  tests/actions/assert/cluster-formed/verify.sh
  tests/config/neo4j/cases/cluster-3primaries-default-db.sh
  tests/config/neo4j/cases/cluster-3primaries.sh
  tests/config/neo4j/cases/cluster-single.sh
  tests/coverage.md
  tests/fixtures/neo4j-cluster-3primaries-default-db.yaml
  tests/suites/workload-cluster.yaml
Due: none

fix(tests): Updated the status condition verification to include ReconcileError in the valid reasons for a Ready state.
  tests/actions/assert/status-conditions/verify.sh
  tests/lib/suite.sh
  tests/suites/workload-cluster.yaml
  tests/suites/workload-standalone.yaml
Due: none

Tests: Improve use case readability
  tests/contribute.md
  tests/lib/suite.sh
  tests/runner/run-suite.sh
  tests/suites/feature-config.yaml
  tests/suites/feature-connectivity.yaml
  tests/suites/feature-credentials.yaml
  tests/suites/feature-storage.yaml
  tests/suites/feature-uninstall.yaml
  tests/suites/operator-admission.yaml
  tests/suites/operator-scope.yaml
  tests/suites/workload-cluster.yaml
  tests/suites/workload-standalone.yaml
Due: none

fix(security): refuse unowned object adoption and cloud IAM SA annotations
  src/api/v1beta1/common_types.go
  src/internal/domain/shared/apply.go
  src/internal/domain/shared/apply_test.go
  src/internal/render/workload/security.go
  src/internal/render/workload/security_test.go
  src/internal/render/workload/statefulset_test.go
  src/internal/validation/neo4j_validator.go
Due: go-fmt, go-imports, golangci-lint-fast

config: error management for key duplicates & jvm-usedefault test
  docs/03-user-documentation/reference/error-overview.md
  src/internal/controller/neo4j/duplicates_test.go
  src/internal/controller/neo4j/reconciler.go
  src/internal/render/duplicates.go
  src/internal/render/serverconfig/cluster_defaults.go
  src/internal/render/serverconfig/configmap.go
  src/internal/render/serverconfig/configmap_test.go
  src/internal/status/oracle.go
  tests/actions/assert/config-jvm-defaults/run.sh
  tests/actions/assert/config-jvm-defaults/verify.sh
  tests/actions/assert/config-jvm-override/run.sh
  tests/actions/assert/config-jvm-override/verify.sh
  tests/actions/assert/config-jvm-runtime/verify.sh
  tests/coverage.md
  tests/design.md
  tests/fixtures/neo4j-config-jvm-defaults.yaml
  tests/fixtures/neo4j-config-jvm-override.yaml
  tests/suites/feature-config.yaml
Due: go-fmt, go-imports, golangci-lint-fast

fix(security): reject config/JVM injection via expand-commands
  src/api/v1beta1/common_types.go
  src/internal/render/serverconfig/configmap.go
  src/internal/render/serverconfig/configmap_test.go
  src/internal/validation/neo4j_validator.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(security): require explicit opt-in for plaintext admin Bolt
  config/crd/bases/neo4j.com_neo4js.yaml
  config/samples/neo4j_v1beta1_neo4j_cluster.yaml
  examples/cluster/01-minimal-3-primaries.yaml
  examples/cluster/02-lab-single-primary.yaml
  examples/cluster/03-pools-analytics-read.yaml
  examples/cluster/04-service-loadbalancer.yaml
  examples/cluster/05-service-nodeport.yaml
  examples/cluster/07-tls-cluster-only.yaml
  examples/cluster/08-scheduling.yaml
  examples/cluster/09-probes-custom.yaml
  examples/cluster/10-config-jvm.yaml
  examples/cluster/11-plugins-apoc.yaml
  examples/cluster/12-backup-and-metrics.yaml
  examples/cluster/13-scale-out.yaml
  examples/cluster/15-pdb.yaml
  src/api/v1beta1/common_types.go
  src/api/v1beta1/neo4j_types.go
  src/internal/controller/neo4j/reconciler.go
  src/internal/domain/formation/admin_tls.go
  src/internal/domain/formation/admin_tls_test.go
  src/internal/domain/formation/reconcile.go
  src/internal/neo4j/admin_test.go
  src/internal/neo4j/driver.go
  tests/fixtures/neo4j-cluster-3primaries-default-db.yaml
  tests/fixtures/neo4j-cluster-3primaries.yaml
  tests/fixtures/neo4j-cluster-single.yaml
Due: go-fmt, go-imports, golangci-lint-fast

fix(security): harden defaults toward PSS restricted
  charts/neo4j-operator/templates/deployment.yaml
  charts/neo4j-operator/values.yaml
  config/manager/manager.yaml
  src/internal/render/workload/security_test.go
  src/internal/render/workload/statefulset.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(security): stop auto-unrestricting plugin procedures
  examples/storage/12-aux-share-plugins-apoc.yaml
  src/internal/render/serverconfig/cluster_defaults_test.go
  src/internal/render/serverconfig/operator_defaults.go
  src/internal/render/workload/plugin_volumes.go
  src/internal/render/workload/statefulset.go
  src/internal/render/workload/statefulset_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(security): skip deleting unowned ConfigMaps and reserved PVC labels
  src/internal/domain/serverconfig/reconcile.go
  src/internal/domain/serverconfig/reconcile_test.go
  src/internal/render/storage/validate.go
  src/internal/render/storage/volumes.go
  src/internal/render/storage/volumes_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(security): drop unused ConfigMap verbs from leader-election Role
  charts/neo4j-operator/templates/leader_election.yaml
  config/rbac/leader_election_role.yaml
Due: none

fix(security): default and cap Secret mount modes at 0440
  config/crd/bases/neo4j.com_neo4js.yaml
  src/api/v1beta1/common_types.go
  src/internal/render/storage/validate.go
  src/internal/render/storage/volumes_test.go
  src/internal/render/workload/plugin_volumes.go
  src/internal/render/workload/statefulset_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(security): reject PVC template volumeName/selector
  src/api/v1beta1/common_types.go
  src/internal/render/storage/validate.go
  src/internal/render/storage/volumes_test.go
Due: go-fmt, go-imports, golangci-lint-fast

docs: add the developer guide and rewrite the top-level README
  README.md
  docs/developer-guide/01-contributing.md
  docs/developer-guide/readme.md
  tests/contribute.md
Due: none

update planning
  README.md
  docs/user-guide/01-getting-started/feature-status.md
  docs/user-guide/01-getting-started/readme.md
  docs/user-guide/03-neo4j/04-connectivity.md
  docs/user-guide/03-neo4j/08-monitoring.md
  docs/user-guide/05-reference/api.md
Due: none

Path conditions:
  go-fmt: any of: \.go$
  go-imports: any of: \.go$
  go-mod-tidy: any of: ^go\.(mod|sum)$
  golangci-lint-fast: any of: \.go$
