Repository neo4j-partners/neo4j-kubernetes-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, golangci-lint-fast

go-fmt:
  name: go fmt
  entry: gofmt
  args:
  - -w
  - -s
  language: system

go-imports:
  name: go imports
  entry: bash -c 'goimports -w .'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

golangci-lint-fast:
  name: golangci-lint (fast)
  entry: bash -c 'make golangci-lint && ./bin/golangci-lint run --config .golangci-precommit.yml --fix --timeout=2m'
  language: system
  pass_filenames: false

feat(backup): use Job name (not opaque UID) for BackupRun.RunID (#158) (#160)
  api/v1beta1/neo4jbackup_types.go
  api/v1beta1/neo4jshardeddatabase_types.go
  bundle/manifests/neo4j.neo4j.com_neo4jbackups.yaml
  bundle/manifests/neo4j.neo4j.com_neo4jshardeddatabases.yaml
  charts/neo4j-operator/crds/neo4j.neo4j.com_neo4jbackups.yaml
  charts/neo4j-operator/crds/neo4j.neo4j.com_neo4jshardeddatabases.yaml
  config/crd/bases/neo4j.neo4j.com_neo4jbackups.yaml
  config/crd/bases/neo4j.neo4j.com_neo4jshardeddatabases.yaml
  internal/controller/neo4jbackup_controller.go
  internal/controller/neo4jbackup_history_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(backup): wire BackupValidator into reconcile + fix its false-positives (#159)
  go.mod
  go.sum
  internal/controller/conditions.go
  internal/controller/neo4jbackup_controller.go
  internal/controller/neo4jbackup_history_test.go
  internal/validation/backup_validator.go
  internal/validation/backup_validator_test.go
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint-fast

fix(backup): reject timezone-prefixed cron schedules (TZ=/CRON_TZ=)
  internal/validation/backup_validator.go
  internal/validation/backup_validator_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(plugin): wire the dormant PluginValidator into the reconciler (NEO3, #164)
  cmd/main.go
  internal/controller/plugin_controller.go
  internal/validation/plugin_validator.go
  internal/validation/plugin_validator_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(plugin): wire the dormant PluginValidator into the reconciler (NEO3, #164) (#167)
  cmd/main.go
  internal/controller/plugin_controller.go
  internal/validation/plugin_validator.go
  internal/validation/plugin_validator_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(backup): wire BackupValidator into reconcile + fix its false-positives (#163)
  go.mod
  go.sum
  internal/controller/conditions.go
  internal/controller/neo4jbackup_controller.go
  internal/controller/neo4jbackup_history_test.go
  internal/validation/backup_validator.go
  internal/validation/backup_validator_test.go
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint-fast

fix(privileges): normalise backtick quoting in privilege canonicalisation
  internal/neo4j/privileges.go
  internal/neo4j/privileges_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(neo4j): drop leaked health-monitor goroutine; retry transient privilege writes
  internal/neo4j/client.go
  test/integration/neo4jrole_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(role): execute original privilege text for adds, not the canonical form
  internal/controller/neo4jrole_controller.go
  internal/controller/neo4jrole_controller_unit_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(controller): ownership-track annotations/labels on reconciled resources
  internal/controller/mutable_resource_test.go
  internal/controller/neo4jenterprisecluster_controller.go
  internal/controller/neo4jenterprisestandalone_controller.go
  internal/controller/owned_keys.go
  internal/controller/owned_keys_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(database): parameterize CREATE DATABASE seedURI/options; validate seedConfig
  internal/neo4j/client.go
  internal/neo4j/database_options_test.go
  internal/validation/database_validator.go
  internal/validation/database_validator_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(database): emit documented seed OPTIONS; drop non-grammar SEED CONFIG (#169)
  api/v1beta1/neo4jdatabase_types.go
  bundle/manifests/neo4j.neo4j.com_neo4jdatabases.yaml
  bundle/manifests/neo4j.neo4j.com_neo4jshardeddatabases.yaml
  charts/neo4j-operator/crds/neo4j.neo4j.com_neo4jdatabases.yaml
  charts/neo4j-operator/crds/neo4j.neo4j.com_neo4jshardeddatabases.yaml
  config/crd/bases/neo4j.neo4j.com_neo4jdatabases.yaml
  config/crd/bases/neo4j.neo4j.com_neo4jshardeddatabases.yaml
  internal/controller/neo4jdatabase_controller_test.go
  internal/neo4j/client.go
  internal/neo4j/database_options_test.go
  internal/validation/database_validator.go
  internal/validation/database_validator_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(upgrade): retry+refetch upgrade status writes; make InProgress resumable
  internal/controller/neo4jenterprisecluster_controller.go
  internal/controller/rolling_upgrade.go
  internal/controller/rolling_upgrade_orchestrator_test.go
  internal/controller/upgrade_detection_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(status): refetch+retry on fleet and standalone failure-path status writes
  internal/controller/neo4jenterprisecluster_controller.go
  internal/controller/neo4jenterprisestandalone_controller.go
  internal/controller/status_write_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(finalizer): don't wedge CR deletion when Neo4j drop/revoke fails
  internal/controller/finalizer_deletion.go
  internal/controller/finalizer_deletion_test.go
  internal/controller/neo4jauthrule_controller.go
  internal/controller/neo4jdatabase_controller.go
  internal/controller/neo4jrole_controller.go
  internal/controller/neo4jrolebinding_controller.go
  internal/controller/neo4juser_controller.go
  internal/neo4j/error_classify.go
  internal/neo4j/error_classify_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(chart): define metrics-auth-role; fix dangling roleRef and namespace-mode RBAC (#181)
  CLAUDE.md
  charts/neo4j-operator/templates/clusterrolebinding.yaml
  charts/neo4j-operator/templates/metrics-rbac.yaml
  scripts/helm-sync-rbac.sh
Due: none

fix(standalone): widen startup probe budget to ~10m to match the cluster
  internal/controller/neo4jenterprisestandalone_controller.go
  internal/controller/neo4jenterprisestandalone_controller_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(standalone): widen startup probe budget to ~10m to match the cluster (#183)
  internal/controller/neo4jenterprisestandalone_controller.go
  internal/controller/neo4jenterprisestandalone_controller_test.go
Due: go-fmt, go-imports, golangci-lint-fast

docs: fix install discoverability (#177), strict_validation/db.format drift, NOTES quickstart schema
  README.md
  charts/neo4j-operator/templates/NOTES.txt
  docs/user_guide/configuration.md
  docs/user_guide/installation.md
  docs/user_guide/security.md
  docs/user_guide/tls_configuration.md
  internal/validation/standalone_validator.go
Due: go-fmt, go-imports, golangci-lint-fast

docs(backup): note MinIO/S3 endpoint override applies to restore + seedURI
  docs/user_guide/guides/backup_restore.md
Due: none

test(cloud): pin the operator's workload-identity (IRSA/WI/MI) wiring
  internal/controller/workload_identity_wiring_test.go
Due: go-fmt, go-imports, golangci-lint-fast

docs: install discoverability (#177), strict_validation/db.format drift, NOTES quickstart (#180)
  README.md
  charts/neo4j-operator/templates/NOTES.txt
  docs/user_guide/configuration.md
  docs/user_guide/installation.md
  docs/user_guide/security.md
  docs/user_guide/tls_configuration.md
  internal/validation/config_validator.go
  internal/validation/config_validator_test.go
  internal/validation/standalone_validator.go
  internal/validation/standalone_validator_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(seed): documented OPTIONS seed form + CloudSeedProvider alignment (closes #169, #170) (#191)
  api/v1beta1/neo4jdatabase_types.go
  bundle/manifests/neo4j.neo4j.com_neo4jdatabases.yaml
  bundle/manifests/neo4j.neo4j.com_neo4jshardeddatabases.yaml
  charts/neo4j-operator/crds/neo4j.neo4j.com_neo4jdatabases.yaml
  charts/neo4j-operator/crds/neo4j.neo4j.com_neo4jshardeddatabases.yaml
  config/crd/bases/neo4j.neo4j.com_neo4jdatabases.yaml
  config/crd/bases/neo4j.neo4j.com_neo4jshardeddatabases.yaml
  internal/controller/neo4jdatabase_controller_test.go
  internal/controller/neo4jshardeddatabase_controller.go
  internal/controller/sharded_options_internal_test.go
  internal/neo4j/client.go
  internal/neo4j/database_options_test.go
  internal/neo4j/users.go
  internal/validation/database_validator.go
  internal/validation/database_validator_test.go
  internal/validation/shardeddatabase_validator.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(status): refetch+retry on fleet and standalone failure-path status writes (#193)
  internal/controller/neo4jenterprisecluster_controller.go
  internal/controller/neo4jenterprisestandalone_controller.go
  internal/controller/status_write_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(restore): recover cluster availability on failed restore; use Job conditions
  internal/controller/neo4jrestore_controller.go
  internal/controller/neo4jrestore_progress_test.go
Due: go-fmt, go-imports, golangci-lint-fast

docs(backup): clarify target.kind + standalone backups, fix PVC example (#182,#185,#186,#188)
  docs/user_guide/guides/backup_restore.md
  examples/backup-restore/backup-pvc-simple.yaml
  examples/backup-restore/backup-s3-basic.yaml
  examples/backup-restore/backup-scheduled-daily.yaml
Due: none

docs(backup): clarify target.kind + standalone backups, fix PVC example (#182,#185,#186,#188) (#198)
  docs/user_guide/guides/backup_restore.md
  examples/backup-restore/backup-pvc-simple.yaml
  examples/backup-restore/backup-s3-basic.yaml
  examples/backup-restore/backup-scheduled-daily.yaml
Due: none

fix(restore): make the standalone restore path standalone-aware (#196, #187)
  internal/controller/neo4jrestore_controller.go
  internal/controller/neo4jrestore_coordination_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(restore): standalone-target restore (#196,#187) + auto-inherit rollout wait (#190) (#200)
  internal/controller/neo4jenterprisestandalone_controller.go
  internal/controller/neo4jrestore_controller.go
  internal/controller/neo4jrestore_coordination_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(standalone): expose bolt/http on the headless service for parity (#184)
  docs/user_guide/external_access.md
  internal/controller/neo4jenterprisestandalone_controller.go
  internal/controller/standalone_headless_service_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(restore): pin resolved backup source so restore survives Backup CR deletion (#188) (#204)
  api/v1beta1/neo4jrestore_types.go
  api/v1beta1/zz_generated.deepcopy.go
  bundle/manifests/neo4j.neo4j.com_neo4jrestores.yaml
  charts/neo4j-operator/crds/neo4j.neo4j.com_neo4jrestores.yaml
  config/crd/bases/neo4j.neo4j.com_neo4jrestores.yaml
  docs/user_guide/guides/backup_restore.md
  internal/controller/neo4jrestore_controller.go
  internal/controller/neo4jrestore_resolvedsource_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(cluster): report serverId for ServersPendingDrain, not name/address (#173)
  internal/controller/scale_down.go
  internal/controller/scale_down_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(cluster): surface un-drained servers after scale-down (#173, PR1) (#209)
  docs/user_guide/clustering.md
  internal/controller/conditions.go
  internal/controller/events.go
  internal/controller/neo4jenterprisecluster_controller.go
  internal/controller/scale_down.go
  internal/controller/scale_down_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(topology): degrade zone discovery gracefully in namespace mode (#202) (#205)
  docs/user_guide/operator-modes.md
  internal/controller/events.go
  internal/controller/neo4jenterprisecluster_controller.go
  internal/controller/topology_scheduler.go
  internal/controller/topology_scheduler_degraded_test.go
Due: go-fmt, go-imports, golangci-lint-fast

feat(helm): per-namespace Roles for operatorMode=namespaces (#206)
  charts/neo4j-operator/templates/_helpers.tpl
  charts/neo4j-operator/templates/namespaced-roles.yaml
  charts/neo4j-operator/values.yaml
  docs/user_guide/operator-modes.md
  scripts/helm-install-test.sh
  scripts/helm-sync-rbac.sh
Due: none

feat(helm): per-namespace Roles for operatorMode=namespaces (#206) (#212)
  charts/neo4j-operator/templates/_helpers.tpl
  charts/neo4j-operator/templates/namespaced-roles.yaml
  charts/neo4j-operator/values.yaml
  docs/user_guide/operator-modes.md
  scripts/helm-install-test.sh
  scripts/helm-sync-rbac.sh
Due: none

fix(cluster): engage scale-down replica hold before Neo4j I/O; clear stale Blocked on abort (#173, #210)
  internal/controller/scale_down.go
  internal/controller/scale_down_test.go
Due: go-fmt, go-imports, golangci-lint-fast

Path conditions:
  go-fmt: any of: \.go$
  go-imports: any of: \.go$
  go-mod-tidy: any of: ^go\.(mod|sum)$
  golangci-lint-fast: any of: \.go$
