Repository neo4j-partners/neo4j-kubernetes-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, golangci-lint-fast

go-fmt:
  name: go fmt
  entry: gofmt
  args:
  - -w
  - -s
  language: system

go-imports:
  name: go imports
  entry: bash -c 'goimports -w .'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

golangci-lint-fast:
  name: golangci-lint (fast)
  entry: bash -c 'make golangci-lint && ./bin/golangci-lint run --config .golangci-precommit.yml --fix --timeout=2m'
  language: system
  pass_filenames: false

fixup! fixup! docs(design): add backup/restore decision records (BDR-014, ADR-015)
  docs/design/backup-restore/disaster-recovery.md
  docs/design/decision-records/architecture/015-backup-and-restore.md
  docs/design/decision-records/business/backup-restore/014-backup-restore.md
  docs/design/decision-records/readme.md
Due: none

feat(backup): add Neo4jBackup, Neo4jBackupSchedule, Neo4jRestore CRD types
  Makefile
  config/crd/bases/kustomization.yaml
  config/crd/bases/neo4j.com_neo4jbackups.yaml
  config/crd/bases/neo4j.com_neo4jbackupschedules.yaml
  config/crd/bases/neo4j.com_neo4jrestores.yaml
  src/api/v1beta1/backup_types_test.go
  src/api/v1beta1/cel_rules_test.go
  src/api/v1beta1/neo4jbackup_types.go
  src/api/v1beta1/neo4jbackupschedule_types.go
  src/api/v1beta1/neo4jrestore_types.go
  src/api/v1beta1/zz_generated.deepcopy.go
Due: go-fmt, go-imports, golangci-lint-fast

feat(backup): reconcile Neo4jBackup into a neo4j-admin Job
  config/rbac/role.yaml
  docs/user-guide/05-reference/errors.md
  src/cmd/manager/main.go
  src/internal/controller/neo4jbackup/reconciler.go
  src/internal/controller/neo4jbackup/reconciler_test.go
  src/internal/oracle/catalog.go
  src/internal/render/backup/job.go
  src/internal/render/backup/job_test.go
  tests/actions/assert/backup-succeeded/run.sh
  tests/actions/assert/backup-succeeded/verify.sh
  tests/actions/backup/cleanup/run.sh
  tests/actions/backup/create/run.sh
  tests/actions/backup/create/verify.sh
  tests/fixtures/neo4j-backup-pvc.yaml
  tests/fixtures/neo4jbackup-pvc.yaml
  tests/lib/oracle.sh
  tests/suites/feature-backup.yaml
Due: go-fmt, go-imports, golangci-lint-fast

feat(restore): reconcile Neo4jRestore via Bolt seed-from-URI
  config/rbac/role.yaml
  docs/user-guide/05-reference/errors.md
  src/cmd/manager/main.go
  src/internal/controller/neo4jrestore/reconciler.go
  src/internal/controller/neo4jrestore/reconciler_test.go
  src/internal/domain/formation/dial.go
  src/internal/domain/formation/reconcile_test.go
  src/internal/neo4j/admin.go
  src/internal/neo4j/driver.go
  src/internal/oracle/catalog.go
  tests/lib/oracle.sh
Due: go-fmt, go-imports, golangci-lint-fast

feat(restore): add source.aggregate for chain-collapsing restore
  config/crd/bases/neo4j.com_neo4jbackups.yaml
  config/crd/bases/neo4j.com_neo4jrestores.yaml
  docs/design/decision-records/architecture/015-backup-and-restore.md
  docs/user-guide/05-reference/errors.md
  src/api/v1beta1/neo4jrestore_types.go
  src/internal/controller/neo4jbackup/reconciler.go
  src/internal/controller/neo4jrestore/reconciler.go
  src/internal/controller/neo4jrestore/reconciler_test.go
  src/internal/domain/shared/pods.go
  src/internal/oracle/catalog.go
  src/internal/render/backup/aggregate.go
  src/internal/render/backup/aggregate_test.go
  tests/lib/oracle.sh
Due: go-fmt, go-imports, golangci-lint-fast

fix(backup-restore): make PVC backup→restore round-trip work end to end
  docs/design/decision-records/architecture/015-backup-and-restore.md
  src/internal/rbac/manager_role_sync_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(backup-restore): make PVC backup→restore round-trip work end to end
  charts/neo4j-operator/templates/_helpers.tpl
  src/internal/neo4j/driver.go
  src/internal/render/backup/job.go
  src/internal/render/backup/job_test.go
  src/internal/render/serverconfig/cluster_defaults.go
  src/internal/render/serverconfig/cluster_defaults_test.go
  src/internal/render/workload/security.go
Due: go-fmt, go-imports, golangci-lint-fast

refactor(backup-restore): single-source the PVC round-trip path contract
  src/internal/controller/neo4jrestore/reconciler.go
  src/internal/render/backup/job.go
  src/internal/render/storage/volumes.go
  src/internal/render/storage/volumes_test.go
Due: go-fmt, go-imports, golangci-lint-fast

feat(backup-restore): make incremental backups restorable via chain-seed
  docs/design/decision-records/architecture/015-backup-and-restore.md
  src/api/v1beta1/neo4jbackup_types.go
  src/internal/controller/neo4jbackup/reconciler.go
  src/internal/controller/neo4jbackup/reconciler_test.go
  src/internal/controller/neo4jrestore/reconciler.go
  src/internal/render/backup/job.go
  src/internal/render/backup/job_test.go
Due: go-fmt, go-imports, golangci-lint-fast

feat(restore): backup->restore round-trip via file:/backups pointer
  config/crd/bases/neo4j.com_neo4jbackups.yaml
  src/api/v1beta1/neo4jbackup_types.go
  src/internal/controller/neo4jbackup/reconciler.go
  src/internal/controller/neo4jrestore/reconciler.go
  src/internal/controller/neo4jrestore/reconciler_test.go
  src/internal/render/backup/job.go
  src/internal/render/backup/job_test.go
Due: go-fmt, go-imports, golangci-lint-fast

test(restore): credential-free file: seed e2e + allow file:/server: url
  config/crd/bases/neo4j.com_neo4jrestores.yaml
  src/api/v1beta1/neo4jrestore_types.go
  tests/actions/assert/restore-succeeded/run.sh
  tests/actions/assert/restore-succeeded/verify.sh
  tests/actions/restore/cleanup/run.sh
  tests/actions/restore/seed/run.sh
  tests/actions/restore/seed/verify.sh
  tests/config/cloud/aws-eks.sh
  tests/fixtures/neo4j-restore.yaml
  tests/lib/oracle.sh
  tests/suites/feature-restore.yaml
Due: go-fmt, go-imports, golangci-lint-fast

feat(backup): populate status.artifacts[].sizeBytes
  docs/design/crd-spec/neo4j/status.md
  src/internal/controller/neo4jbackup/reconciler.go
  src/internal/controller/neo4jbackup/reconciler_test.go
  src/internal/controller/neo4jrestore/reconciler.go
  src/internal/domain/shared/pods.go
  src/internal/domain/shared/pods_test.go
  src/internal/render/backup/aggregate.go
  src/internal/render/backup/job.go
  src/internal/render/backup/job_test.go
  tests/lib/oracle.sh
Due: go-fmt, go-imports, golangci-lint-fast

feat(schedule): Neo4jBackupSchedule cron emitter (increment 1)
  charts/neo4j-operator/templates/_helpers.tpl
  config/rbac/role.yaml
  docs/design/crd-spec/neo4j/status.md
  docs/user-guide/05-reference/errors.md
  go.mod
  go.sum
  src/cmd/manager/main.go
  src/internal/controller/neo4jbackup/reconciler.go
  src/internal/controller/neo4jbackupschedule/reconciler.go
  src/internal/controller/neo4jbackupschedule/reconciler_test.go
  src/internal/oracle/catalog.go
  tests/lib/oracle.sh
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint-fast

update run name 2
  .github/actions/e2e/action.yml
  .github/workflows/ci.yml
  .github/workflows/e2e-all-platforms.yml
  Makefile
  tests/aws/ensure-eks.sh
  tests/azure/ensure-aks.sh
  tests/bin/resolve-versions.sh
  tests/bin/setup-local-kind.sh
  tests/config/cloud/aws-eks.sh
  tests/config/cloud/azure-aks.sh
  tests/config/cloud/gcp-gke.sh
  tests/config/cloud/local-kind.sh
  tests/config/neo4j/base.sh
  tests/config/readme.md
  tests/config/reconcile.sh
  tests/config/versions.sh
  tests/contribute.md
  tests/gcp/ensure-gke.sh
  tests/lib/common.sh
Due: none

update build summary
  tests/bin/resolve-versions.sh
  tests/bin/run-e2e.sh
  tests/contribute.md
  tests/lib/suite.sh
  tests/lib/summary.sh
  tests/runner/run-suite.sh
Due: none

docs(design): add ADR-017 rolling upgrade of spec.version
  .cursor/skills/operator-architecture-orchestrator/architecture-backlog.md
  docs/design/decision-records/architecture/017-rolling-upgrade.md
  docs/design/decision-records/readme.md
Due: none

docs(design): add backup/restore decision records (BDR-014, ADR-015)
  docs/design/decision-records/architecture/015-backup-and-restore.md
  docs/design/decision-records/business/backup-restore/014-backup-restore.md
  docs/design/decision-records/business/database/013-database.md
  docs/design/decision-records/readme.md
Due: none

feat(backup): aggregate as a Neo4jBackup type (recovered full from a chain)
  config/crd/bases/neo4j.com_neo4jbackups.yaml
  docs/user-guide/05-reference/errors.md
  src/api/v1beta1/neo4jbackup_types.go
  src/api/v1beta1/zz_generated.deepcopy.go
  src/internal/controller/neo4jbackup/reconciler.go
  src/internal/controller/neo4jbackup/reconciler_test.go
  src/internal/controller/neo4jrestore/reconciler.go
  src/internal/oracle/catalog.go
  src/internal/render/backup/aggregate.go
  src/internal/render/backup/aggregate_test.go
  tests/lib/oracle.sh
Due: go-fmt, go-imports, golangci-lint-fast

fixup! docs(design): add backup/restore decision records (BDR-014, ADR-015)
  docs/design/decision-records/architecture/015-backup-and-restore.md
  docs/design/decision-records/business/backup-restore/014-backup-restore.md
  docs/design/decision-records/readme.md
Due: none

feat(backup): per-chain sub-directory isolation + gate incrementals on full completion
  docs/user-guide/05-reference/errors.md
  src/internal/controller/neo4jbackup/reconciler.go
  src/internal/controller/neo4jbackup/reconciler_test.go
  src/internal/controller/neo4jbackupschedule/reconciler.go
  src/internal/controller/neo4jbackupschedule/reconciler_test.go
  src/internal/oracle/catalog.go
  src/internal/render/backup/aggregate.go
  src/internal/render/backup/job.go
  src/internal/render/backup/job_test.go
  src/internal/render/backup/prune.go
  src/internal/render/backup/prune_test.go
  tests/lib/oracle.sh
Due: go-fmt, go-imports, golangci-lint-fast

feat(schedule): aggregate cadence — boundary compaction + aggregate-aware retention
  config/crd/bases/neo4j.com_neo4jbackupschedules.yaml
  docs/user-guide/05-reference/errors.md
  src/api/v1beta1/backup_types_test.go
  src/api/v1beta1/neo4jbackupschedule_types.go
  src/internal/controller/neo4jbackupschedule/reconciler.go
  src/internal/controller/neo4jbackupschedule/reconciler_test.go
  src/internal/oracle/catalog.go
  src/internal/render/backup/prune.go
  src/internal/render/backup/prune_test.go
  tests/lib/oracle.sh
Due: go-fmt, go-imports, golangci-lint-fast

docs(bdr-014): align docs with shipped aggregate + retention
  docs/design/decision-records/business/backup-restore/014-backup-restore.md
Due: none

refactor(api): drop dead incremental.retention field
  config/crd/bases/neo4j.com_neo4jbackupschedules.yaml
  docs/design/decision-records/architecture/015-backup-and-restore.md
  docs/design/decision-records/business/backup-restore/014-backup-restore.md
  docs/design/decision-records/readme.md
  src/api/v1beta1/neo4jbackupschedule_types.go
  src/api/v1beta1/zz_generated.deepcopy.go
  src/internal/controller/neo4jbackupschedule/reconciler_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(neo4jrestore): guard forceOffline CEL rule against unset field
  config/crd/bases/neo4j.com_neo4jrestores.yaml
  src/api/v1beta1/neo4jrestore_types.go
Due: go-fmt, go-imports, golangci-lint-fast

test(e2e): add backupRef chain restore suite (feature-restore-backupref)
  tests/actions/assert/restore-chain/verify.sh
  tests/actions/restore/backupref-chain/run.sh
  tests/actions/restore/backupref-cleanup/run.sh
  tests/fixtures/neo4j-backup-mounted-pvc.yaml
  tests/suites/feature-restore-backupref.yaml
Due: none

test(e2e): opt restore targets into plaintext admin Bolt (NEO-004)
  tests/fixtures/neo4j-backup-mounted-pvc.yaml
  tests/fixtures/neo4j-restore.yaml
Due: none

Path conditions:
  go-fmt: any of: \.go$
  go-imports: any of: \.go$
  go-mod-tidy: any of: ^go\.(mod|sum)$
  golangci-lint-fast: any of: \.go$
