Repository neo4j-partners/neo4j-kubernetes-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, golangci-lint-fast

.pre-commit-config.yaml:

repos:
  # Essential file checks (fast)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']  # Limit to 1MB
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: debug-statements

  # Fast Go code quality checks
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt
        args: [-w, -s]
        language: system
        files: \.go$

      - id: go-imports
        name: go imports
        entry: bash -c 'goimports -w .'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: ^go\.(mod|sum)$
        pass_filenames: false

      - id: golangci-lint-fast
        name: golangci-lint (fast)
        entry: bash -c 'make golangci-lint && ./bin/golangci-lint run --config .golangci-precommit.yml --fix --timeout=2m'
        language: system
        files: \.go$
        pass_filenames: false

  # Security checks (fast)
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

  # YAML validation (fast)
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: \.(yaml|yml)$

  # Commit message validation
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.29.1
    hooks:
      - id: commitizen
        stages: [commit-msg]

docs: add v1.0.0-alpha release notes
  docs/release-notes/v1.0.0-alpha.md
Due: none

feat(mcp): switch to official mcp/neo4j-cypher Docker Hub image
  .github/workflows/integration-tests.yml
  .github/workflows/release.yml
  Makefile
  api/v1alpha1/mcp_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/neo4j.neo4j.com_neo4jenterpriseclusters.yaml
  config/crd/bases/neo4j.neo4j.com_neo4jenterprisestandalones.yaml
  docs/user_guide/guides/mcp_client_setup.md
  internal/controller/neo4jenterprisecluster_controller.go
  internal/controller/neo4jenterprisestandalone_controller.go
  internal/resources/mcp.go
  internal/resources/mcp_test.go
  internal/validation/mcp_validator.go
  internal/validation/mcp_validator_test.go
  test/integration/mcp_integration_test.go
Due: go-fmt, go-imports, golangci-lint-fast

docs(mcp): update all docs for official mcp/neo4j image
  docs/api_reference/neo4jenterprisecluster.md
  docs/api_reference/neo4jenterprisestandalone.md
  docs/release-notes/v1.0.0-alpha.md
  docs/user_guide/configuration.md
Due: none

fix(backup): fix GetBackupCommand arg order/logic, add per-flag version methods
  internal/controller/neo4jbackup_controller.go
  internal/neo4j/version.go
  internal/neo4j/version_test.go
  test/integration/version_detection_test.go
Due: go-fmt, go-imports, golangci-lint-fast

feat(backup): add BuildBackupFromAddresses helper for --from flag in backup Jobs
  internal/resources/cluster.go
  internal/resources/cluster_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(restore): accept pitr/s3/gcs/azure source types in validateRestore
  internal/controller/neo4jrestore_controller.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(restore): replace non-existent PITR commands with --restore-until flag
  internal/controller/neo4jrestore_controller.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(restore): add Neo4jEnterpriseStandalone support, extract standaloneAsCluster to shared util
  internal/controller/neo4jbackup_controller.go
  internal/controller/neo4jrestore_controller.go
  internal/controller/util.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(backup): implement PVC retention policy cleanup Job, log warning for cloud storage
  internal/controller/neo4jbackup_controller.go
Due: go-fmt, go-imports, golangci-lint-fast

docs(backup): overhaul backup/restore docs, examples, and align integration tests with production mode
  AGENTS.md
  CLAUDE.md
  Makefile
  bundle/manifests/neo4j-kubernetes-operator.clusterserviceversion.yaml
  bundle/manifests/neo4j.neo4j.com_neo4jbackups.yaml
  bundle/manifests/neo4j.neo4j.com_neo4jdatabases.yaml
  bundle/manifests/neo4j.neo4j.com_neo4jenterpriseclusters.yaml
  bundle/manifests/neo4j.neo4j.com_neo4jenterprisestandalones.yaml
  bundle/manifests/neo4j.neo4j.com_neo4jrestores.yaml
  bundle/manifests/neo4j.neo4j.com_neo4jshardeddatabases.yaml
  config/manifests/bases/neo4j-kubernetes-operator.clusterserviceversion.yaml
  config/overlays/integration-test/kustomization.yaml
  config/samples/neo4j_v1alpha1_neo4jbackup.yaml
  docs/api_reference/neo4jbackup.md
  docs/api_reference/neo4jrestore.md
  docs/user_guide/guides/backup_restore.md
  examples/backup-restore/backup-pvc-simple.yaml
  examples/backup-restore/backup-s3-basic.yaml
  examples/backup-restore/backup-scheduled-daily.yaml
  examples/backup/backup-incremental.yaml
  examples/backup/backup-with-type.yaml
  test/integration/backup_rbac_test.go
Due: go-fmt, go-imports, golangci-lint-fast

feat(backup): add MinIO/S3-compatible endpoint support
  api/v1alpha1/neo4jenterprisecluster_types.go
  config/crd/bases/neo4j.neo4j.com_neo4jbackups.yaml
  config/crd/bases/neo4j.neo4j.com_neo4jdatabases.yaml
  config/crd/bases/neo4j.neo4j.com_neo4jenterpriseclusters.yaml
  config/crd/bases/neo4j.neo4j.com_neo4jenterprisestandalones.yaml
  config/crd/bases/neo4j.neo4j.com_neo4jrestores.yaml
  config/crd/bases/neo4j.neo4j.com_neo4jshardeddatabases.yaml
  examples/backup-restore/backup-minio.yaml
  internal/controller/neo4jbackup_controller.go
Due: go-fmt, go-imports, golangci-lint-fast

feat(gitops): add ArgoCD health checks, Flux notes, and Prometheus ServiceMonitor
  docs/gitops/README.md
  docs/gitops/argocd-health-checks.yaml
Due: none

feat(conditions): standardize Ready condition and ObservedGeneration across all CRDs
  internal/controller/conditions.go
  internal/controller/neo4jbackup_controller.go
  internal/controller/neo4jdatabase_controller.go
  internal/controller/neo4jenterprisecluster_controller.go
  internal/controller/neo4jenterprisestandalone_controller.go
  internal/controller/neo4jrestore_controller.go
  internal/controller/neo4jshardeddatabase_controller.go
  internal/controller/plugin_controller.go
Due: go-fmt, go-imports, golangci-lint-fast

feat(registry): wire imagePullSecrets into server and standalone StatefulSet pod specs
  internal/controller/neo4jenterprisestandalone_controller.go
  internal/resources/cluster.go
  internal/resources/cluster_test.go
Due: go-fmt, go-imports, golangci-lint-fast

feat(diagnostics): wire CollectDiagnostics into cluster reconciler when Ready
  internal/controller/neo4jenterprisecluster_controller.go
Due: go-fmt, go-imports, golangci-lint-fast

docs: document live cluster diagnostics feature in monitoring guide, configuration, and architecture
  docs/developer_guide/architecture.md
  docs/user_guide/configuration.md
  docs/user_guide/guides/monitoring.md
Due: none

feat(upgrade): add IsClusterReplicationHealthy and wire into rolling upgrade flow
  CLAUDE.md
  internal/controller/rolling_upgrade.go
  internal/neo4j/client.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(deps): bump cert-manager to v1.18.5 to resolve CVE-2026-25518
  go.mod
  go.sum
Due: go-mod-tidy

fix(deps): update all cert-manager references from v1.18.2 to v1.18.5
  CLAUDE.md
  Makefile
  docs/developer_guide/development.md
  docs/developer_guide/makefile_reference.md
  examples/README.md
  scripts/test-env.sh
Due: none

fix(backup): rename AWS_DEFAULT_REGION to AWS_REGION and relax TLS issuer validation
  api/v1alpha1/neo4jenterprisecluster_types.go
  bundle/manifests/neo4j-kubernetes-operator.clusterserviceversion.yaml
  bundle/manifests/neo4j.neo4j.com_neo4jbackups.yaml
  bundle/manifests/neo4j.neo4j.com_neo4jdatabases.yaml
  bundle/manifests/neo4j.neo4j.com_neo4jenterpriseclusters.yaml
  bundle/manifests/neo4j.neo4j.com_neo4jenterprisestandalones.yaml
  bundle/manifests/neo4j.neo4j.com_neo4jrestores.yaml
  bundle/manifests/neo4j.neo4j.com_neo4jshardeddatabases.yaml
  charts/neo4j-operator/crds/neo4j.neo4j.com_neo4jbackups.yaml
  charts/neo4j-operator/crds/neo4j.neo4j.com_neo4jdatabases.yaml
  charts/neo4j-operator/crds/neo4j.neo4j.com_neo4jenterpriseclusters.yaml
  charts/neo4j-operator/crds/neo4j.neo4j.com_neo4jenterprisestandalones.yaml
  charts/neo4j-operator/crds/neo4j.neo4j.com_neo4jrestores.yaml
  charts/neo4j-operator/crds/neo4j.neo4j.com_neo4jshardeddatabases.yaml
  charts/neo4j-operator/templates/clusterrole.yaml
  config/crd/bases/neo4j.neo4j.com_neo4jbackups.yaml
  config/crd/bases/neo4j.neo4j.com_neo4jdatabases.yaml
  config/crd/bases/neo4j.neo4j.com_neo4jenterpriseclusters.yaml
  config/crd/bases/neo4j.neo4j.com_neo4jenterprisestandalones.yaml
  config/crd/bases/neo4j.neo4j.com_neo4jrestores.yaml
  config/crd/bases/neo4j.neo4j.com_neo4jshardeddatabases.yaml
  docs/api_reference/neo4jbackup.md
  docs/plans/2026-02-20-backup-restore-overhaul.md
  docs/user_guide/guides/backup_restore.md
  examples/backup-restore/backup-minio.yaml
  examples/end-to-end/complete-deployment.yaml
  internal/controller/neo4jbackup_cloud_test.go
  internal/controller/neo4jbackup_controller.go
  internal/validation/security_validator.go
  internal/validation/security_validator_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(backup): propagate labels to Job/Pod templates and add backup-target label
  bundle/manifests/neo4j-kubernetes-operator.clusterserviceversion.yaml
  internal/controller/neo4jbackup_controller.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(chart): sync Helm chart with current codebase state
  charts/neo4j-operator/Chart.yaml
  charts/neo4j-operator/README.md
  charts/neo4j-operator/templates/clusterrole.yaml
  charts/neo4j-operator/templates/clusterrolebinding.yaml
  charts/neo4j-operator/values.yaml
  config/rbac/role-consolidated.yaml
Due: none

chore(bundle): regenerate OLM bundle with make manifests and make bundle
  bundle.Dockerfile
  bundle/manifests/neo4j-kubernetes-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  bundle/tests/scorecard/config.yaml
Due: none

refactor(monitoring): rename spec.queryMonitoring to spec.monitoring and fix metric bugs
  AGENTS.md
  CLAUDE.md
  README.md
  api/v1alpha1/neo4jenterprisecluster_types.go
  api/v1alpha1/neo4jenterprisestandalone_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/neo4j.neo4j.com_neo4jenterpriseclusters.yaml
  bundle/manifests/neo4j.neo4j.com_neo4jenterprisestandalones.yaml
  charts/neo4j-operator/crds/neo4j.neo4j.com_neo4jenterpriseclusters.yaml
  charts/neo4j-operator/crds/neo4j.neo4j.com_neo4jenterprisestandalones.yaml
  config/crd/bases/neo4j.neo4j.com_neo4jenterpriseclusters.yaml
  config/crd/bases/neo4j.neo4j.com_neo4jenterprisestandalones.yaml
  docs/api_reference/neo4jenterprisecluster.md
  docs/api_reference/neo4jenterprisestandalone.md
  docs/developer_guide/architecture.md
  docs/plans/2026-02-21-cypher-query-diagnostics.md
  docs/user_guide/configuration.md
  docs/user_guide/guides/monitoring.md
  docs/user_guide/guides/prometheus-grafana-setup.md
  docs/user_guide/performance.md
  docs/user_guide/security.md
  examples/clusters/multi-server-cluster.yaml
  examples/standalone/single-node-standalone.yaml
  internal/controller/neo4jenterprisecluster_controller.go
  internal/controller/neo4jenterprisestandalone_controller.go
  internal/resources/cluster.go
  internal/resources/cluster_test.go
  test/integration/enterprise_features_test.go
Due: go-fmt, go-imports, golangci-lint-fast

feat(storage): automated PVC volume expansion for cluster and standalone deployments
  CLAUDE.md
  bundle.Dockerfile
  bundle/manifests/neo4j-kubernetes-operator.clusterserviceversion.yaml
  bundle/manifests/neo4j.neo4j.com_neo4jenterpriseclusters.yaml
  bundle/manifests/neo4j.neo4j.com_neo4jenterprisestandalones.yaml
  bundle/metadata/annotations.yaml
  charts/neo4j-operator/templates/clusterrole.yaml
  config/rbac/role.yaml
  docs/README.md
  docs/api_reference/neo4jenterprisecluster.md
  docs/api_reference/neo4jenterprisestandalone.md
  docs/user_guide/guides/kubernetes-events.md
  docs/user_guide/guides/storage_expansion.md
  examples/clusters/storage-expansion.yaml
  internal/controller/conditions.go
  internal/controller/events.go
  internal/controller/neo4jenterprisecluster_controller.go
  internal/controller/neo4jenterprisestandalone_controller.go
  internal/controller/standalone_storage_expansion.go
  internal/controller/standalone_storage_expansion_test.go
  internal/controller/storage_expansion.go
  internal/controller/storage_expansion_test.go
Due: go-fmt, go-imports, golangci-lint-fast
