Repository neo4j-partners/neo4j-kubernetes-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, golangci-lint-fast

go-fmt:
  name: go fmt
  entry: gofmt
  args:
  - -w
  - -s
  language: system

go-imports:
  name: go imports
  entry: bash -c 'goimports -w .'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

golangci-lint-fast:
  name: golangci-lint (fast)
  entry: bash -c 'make golangci-lint && ./bin/golangci-lint run --config .golangci-precommit.yml --fix --timeout=2m'
  language: system
  pass_filenames: false

security: updated go-version due to CVE-2026-56860, CVE-2026-56862, CVE-2026-56853, CVE-2026-33818
  .github/workflows/ci.yml
  Makefile
Due: none

ci: azure integration
  .gitattributes
  .github/workflows/azure-cleanup.yml
  .github/workflows/ci.yml
  .github/workflows/e2e-all-platforms.yml
  .github/workflows/e2e.yml
  .github/workflows/unit.yml
  docs/developer-guide/01-contributing.md
  tests/actions/deploy/neo4j/run.sh
  tests/contribute.md
  tests/design.md
  tests/fixtures/neo4j-storage-dynamic-sc.yaml
  tests/runner/run-suite.sh
  tests/suites/feature-config.yaml
  tests/suites/feature-credentials.yaml
  tests/suites/feature-storage.yaml
  tests/suites/operator-admission.yaml
  tests/suites/operator-scope.yaml
  tests/suites/workload-cluster.yaml
Due: none

ci: drop temporary push trigger
  .github/workflows/e2e-all-platforms.yml
Due: none

docs: update feature status
  docs/user-guide/01-getting-started/feature-status.md
Due: none

fix: auth password dash
  config/crd/bases/neo4j.com_neo4js.yaml
  docs/user-guide/03-neo4j/05-security.md
  docs/user-guide/05-reference/errors.md
  src/internal/domain/workload/reconcile.go
  src/internal/domain/workload/reconcile_password_test.go
  src/internal/render/secrets/auth.go
  src/internal/render/secrets/auth_test.go
  src/internal/render/secrets/mount.go
  src/internal/status/oracle.go
  src/internal/status/writer.go
  tests/actions/assert/storage-sc/verify.sh
  tests/config/neo4j/cases/standalone-auth-secretref-dash-password.sh
  tests/suites/feature-credentials.yaml
Due: go-fmt, go-imports, golangci-lint-fast

ci: move actions off the deprecated Node 20 runtime
  .github/workflows/azure-cleanup.yml
  .github/workflows/e2e.yml
Due: none

tests: improve operator case handling and reset variable logic
  tests/config/neo4j/cases/standalone-auth-secretref-dash-password.sh
  tests/config/reconcile.sh
Due: none

fix auth password dash
  .github/workflows/azure-cleanup.yml
  .github/workflows/e2e.yml
  config/crd/bases/neo4j.com_neo4js.yaml
  docs/user-guide/03-neo4j/05-security.md
  docs/user-guide/05-reference/errors.md
  src/internal/domain/workload/reconcile.go
  src/internal/domain/workload/reconcile_password_test.go
  src/internal/render/secrets/auth.go
  src/internal/render/secrets/auth_test.go
  src/internal/render/secrets/mount.go
  src/internal/status/oracle.go
  src/internal/status/writer.go
  tests/actions/assert/storage-sc/verify.sh
  tests/config/neo4j/cases/standalone-auth-secretref-dash-password.sh
  tests/config/reconcile.sh
  tests/suites/feature-credentials.yaml
Due: go-fmt, go-imports, golangci-lint-fast

fix: reject multiCluster.enabled in every topology mode
  config/crd/bases/neo4j.com_neo4js.yaml
  src/api/v1beta1/common_types.go
  src/api/v1beta1/neo4j_types.go
  tests/coverage.md
  tests/fixtures/neo4j-multicluster-enabled.yaml
  tests/suites/operator-admission.yaml
Due: go-fmt, go-imports, golangci-lint-fast

fix(security): use private temp dir for TLS lab keygen
  hack/gen-cluster-tls.sh
Due: none

fix(security): stop committing example auth password
  README.md
  examples/README.md
  examples/secrets/README.md
  examples/secrets/auth-password.yaml
  examples/secrets/create-auth-secret.sh
  examples/standalone/02-auth-existing-secret.yaml
Due: none

fix(security): remove unused podTemplate from CRD
  config/crd/bases/neo4j.com_neo4js.yaml
  docs/design/crd-spec/neo4j/spec.md
  examples/README.md
  src/api/v1beta1/common_types.go
  src/api/v1beta1/neo4j_types.go
  src/api/v1beta1/zz_generated.deepcopy.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(security): require NetworkPolicy ingress peers
  config/crd/bases/neo4j.com_neo4js.yaml
  docs/design/crd-spec/neo4j/spec.md
  docs/user-guide/03-neo4j/05-security.md
  docs/user-guide/05-reference/api.md
  examples/standalone/22-security.yaml
  src/api/v1beta1/common_types.go
  src/api/v1beta1/zz_generated.deepcopy.go
  src/internal/domain/workload/reconcile.go
  src/internal/render/workload/networkpolicy.go
  src/internal/render/workload/networkpolicy_test.go
  src/internal/validation/neo4j_validator.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(security): allowlist Neo4j image repositories and support digests
  charts/neo4j-operator/templates/deployment.yaml
  charts/neo4j-operator/values.yaml
  config/crd/bases/neo4j.com_neo4js.yaml
  docs/design/crd-spec/neo4j/spec.md
  docs/user-guide/02-operator-installation/01-prerequisites.md
  docs/user-guide/02-operator-installation/03-install.md
  docs/user-guide/03-neo4j/09-operations.md
  docs/user-guide/05-reference/api.md
  src/api/v1beta1/common_types.go
  src/cmd/manager/main.go
  src/internal/controller/neo4j/reconciler.go
  src/internal/imagepolicy/allowlist.go
  src/internal/imagepolicy/allowlist_test.go
  src/internal/render/context.go
  src/internal/render/context_test.go
  src/internal/validation/neo4j_validator.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(admission): skip spec checks when a Neo4j CR is deleting
  config/crd/bases/neo4j.com_neo4js.yaml
  src/api/v1beta1/common_types.go
  src/internal/validation/neo4j_validator.go
  src/internal/validation/neo4j_validator_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(security): reject unpinned plugin fetch and unknown catalog ids
  config/crd/bases/neo4j.com_neo4js.yaml
  docs/design/crd-spec/neo4j/spec.md
  docs/user-guide/03-neo4j/07-plugins.md
  docs/user-guide/05-reference/api.md
  src/api/v1beta1/common_types.go
  src/api/v1beta1/neo4j_types.go
  src/internal/controller/neo4j/reconciler.go
  src/internal/render/plugins/catalog.go
  src/internal/render/plugins/neo4j_plugins.go
  src/internal/render/plugins/neo4j_plugins_test.go
  src/internal/render/workload/statefulset.go
  src/internal/render/workload/statefulset_test.go
  src/internal/validation/neo4j_validator.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(security): cap cluster scale, PVC size, and reconcile concurrency
  charts/neo4j-operator/README.md
  charts/neo4j-operator/templates/deployment.yaml
  charts/neo4j-operator/values.yaml
  config/crd/bases/neo4j.com_neo4js.yaml
  config/manager/manager.yaml
  docs/design/crd-spec/neo4j/spec.md
  docs/design/crd-spec/neo4j/validation.md
  docs/design/decision-records/architecture/009-watches-and-predicates.md
  docs/user-guide/02-operator-installation/03-install.md
  docs/user-guide/03-neo4j/09-operations.md
  docs/user-guide/05-reference/api.md
  examples/README.md
  examples/standalone/23-namespace-quota.yaml
  src/api/v1beta1/common_types.go
  src/cmd/manager/main.go
  src/internal/controller/neo4j/reconciler.go
  src/internal/controller/neo4j/reconciler_test.go
  src/internal/render/storage/validate.go
  src/internal/render/storage/volumes_test.go
  src/internal/validation/neo4j_validator.go
  src/internal/validation/neo4j_validator_test.go
Due: go-fmt, go-imports, golangci-lint-fast

docs(tests): storage failure cases are covered and passing, not expected-fail
  tests/coverage.md
  tests/design.md
Due: none

fix(security): refuse watching the operator install namespace
  charts/neo4j-operator/README.md
  charts/neo4j-operator/templates/NOTES.txt
  charts/neo4j-operator/templates/_helpers.tpl
  charts/neo4j-operator/templates/deployment.yaml
  charts/neo4j-operator/values.yaml
  config/manager/manager.yaml
  config/rbac/role.yaml
  config/rbac/role_binding.yaml
  docs/user-guide/02-operator-installation/01-prerequisites.md
  docs/user-guide/02-operator-installation/03-install.md
  docs/user-guide/02-operator-installation/04-operator-scope.md
  src/cmd/manager/watch.go
  src/cmd/manager/watch_test.go
  tests/actions/assert/rbac-namespaced/verify.sh
  tests/actions/scope/apply-unwatched/run.sh
Due: go-fmt, go-imports, golangci-lint-fast

fix(security): require TLS and Kubernetes auth for operator metrics
  charts/neo4j-operator/README.md
  charts/neo4j-operator/templates/NOTES.txt
  charts/neo4j-operator/templates/_helpers.tpl
  charts/neo4j-operator/templates/deployment.yaml
  charts/neo4j-operator/templates/metrics.yaml
  charts/neo4j-operator/values.yaml
  docs/design/decision-records/architecture/014-operator-observability.md
  docs/user-guide/02-operator-installation/03-install.md
  docs/user-guide/02-operator-installation/04-operator-scope.md
  src/cmd/manager/main.go
  src/cmd/manager/metrics.go
  src/cmd/manager/metrics_test.go
  tests/actions/assert/rbac-namespaced/verify.sh
Due: go-fmt, go-imports, golangci-lint-fast

change minimummembers behavior
  config/crd/bases/neo4j.com_neo4js.yaml
  docs/design/analysis/helm-fields/_index.csv
  docs/design/analysis/helm-fields/fields/neo4j.minimumClusterSize.md
  docs/design/analysis/helm-fields/semantic-concern-report.md
  docs/design/crd-spec/neo4j/example-cluster.yaml
  docs/design/crd-spec/neo4j/spec.md
  docs/design/crd-spec/neo4j/validation.md
  docs/design/decision-records/architecture/001-crd-validation-process.md
  docs/design/decision-records/architecture/007-formation-and-bolt.md
  docs/design/decision-records/business/neo4j/002-neo4j-crd-topology.md
  docs/user-guide/03-neo4j/01-standalone.md
  docs/user-guide/03-neo4j/02-clustering.md
  docs/user-guide/03-neo4j/05-security.md
  docs/user-guide/04-troubleshooting/01-common-issues.md
  docs/user-guide/05-reference/api.md
  docs/user-guide/05-reference/errors.md
  docs/user-guide/05-reference/operator-owned-config.md
  examples/README.md
  examples/cluster/13-scale-out.yaml
  examples/cluster/14-full.yaml
  src/api/v1beta1/common_types.go
  src/api/v1beta1/neo4j_types.go
  src/api/v1beta1/neo4j_validation_test.go
  src/api/v1beta1/zz_generated.deepcopy.go
  src/internal/domain/formation/reconcile.go
  src/internal/domain/formation/reconcile_test.go
  src/internal/render/context.go
  src/internal/render/serverconfig/cluster_defaults_test.go
  src/internal/render/serverconfig/operator_defaults.go
  src/internal/status/oracle.go
  src/internal/validation/neo4j_validator.go
  src/internal/validation/neo4j_validator_test.go
  tests/actions/assert/cluster-scale-out-in/verify.sh
  tests/coverage.md
  tests/fixtures/neo4j-cluster-bad-minmembers.yaml
  tests/fixtures/neo4j-cluster-no-admin-trust.yaml
  tests/fixtures/neo4j-cluster-on-community.yaml
  tests/suites/operator-admission.yaml
Due: go-fmt, go-imports, golangci-lint-fast

docs: update test coverage file and revert main readme
  README.md
  tests/coverage.md
  tests/design.md
Due: none

ci: run each e2e suite as its own job, sharing one image build
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  tests/bin/setup-local-kind.sh
Due: none

rebase, update actions version & and improve job naming for clarity
  .github/workflows/ci.yml
  .github/workflows/e2e-all-platforms.yml
  .github/workflows/e2e.yml
Due: none

refactor: replace e2e reusable workflow with composite action
  .github/actions/e2e/action.yml
  .github/workflows/ci.yml
  .github/workflows/e2e-all-platforms.yml
  .github/workflows/e2e.yml
  tests/contribute.md
  tests/design.md
Due: none

ci: parallelise e2e suites
  .github/actions/e2e/action.yml
  .github/workflows/ci.yml
  .github/workflows/e2e-all-platforms.yml
  .github/workflows/e2e.yml
  tests/bin/setup-local-kind.sh
  tests/contribute.md
  tests/design.md
Due: none

feat: community edition
  README.md
  config/crd/bases/neo4j.com_neo4js.yaml
  docs/design/analysis/helm-fields/crd-candidates.md
  docs/design/analysis/helm-fields/fields/neo4j.edition.md
  docs/design/crd-spec/neo4j/spec.md
  docs/design/crd-spec/neo4j/validation.md
  docs/design/decision-records/architecture/001-crd-validation-process.md
  docs/design/decision-records/business/neo4j/010-neo4j-features-catalog.md
  docs/user-guide/01-getting-started/feature-status.md
  docs/user-guide/02-operator-installation/01-prerequisites.md
  docs/user-guide/03-neo4j/01-standalone.md
  docs/user-guide/05-reference/api.md
  examples/README.md
  examples/standalone/24-community.yaml
  src/api/v1beta1/common_types.go
  src/api/v1beta1/neo4j_types.go
  src/api/v1beta1/neo4j_types_test.go
  src/api/v1beta1/neo4j_validation_test.go
  src/api/v1beta1/zz_generated.deepcopy.go
  src/internal/domain/formation/reconcile_test.go
  src/internal/domain/serverconfig/reconcile_test.go
  src/internal/domain/workload/reconcile_pdb_test.go
  src/internal/domain/workload/reconcile_pullsecrets_test.go
  src/internal/render/context.go
  src/internal/render/context_test.go
  src/internal/render/workload/offline_test.go
  src/internal/render/workload/probes_test.go
  src/internal/render/workload/scheduling_test.go
  src/internal/render/workload/statefulset.go
  src/internal/render/workload/statefulset_test.go
  src/internal/validation/neo4j_validator_test.go
  tests/coverage.md
  tests/fixtures/neo4j-cluster-on-community.yaml
  tests/fixtures/neo4j-no-license.yaml
  tests/suites/operator-admission.yaml
Due: go-fmt, go-imports, golangci-lint-fast

feat: support Community edition, Standalone only
  README.md
  config/crd/bases/neo4j.com_neo4js.yaml
  docs/design/analysis/helm-fields/crd-candidates.md
  docs/design/analysis/helm-fields/fields/neo4j.edition.md
  docs/design/crd-spec/neo4j/spec.md
  docs/design/crd-spec/neo4j/validation.md
  docs/design/decision-records/architecture/001-crd-validation-process.md
  docs/design/decision-records/business/neo4j/010-neo4j-features-catalog.md
  docs/user-guide/01-getting-started/feature-status.md
  docs/user-guide/02-operator-installation/01-prerequisites.md
  docs/user-guide/03-neo4j/01-standalone.md
  docs/user-guide/05-reference/api.md
  examples/README.md
  examples/standalone/24-community.yaml
  src/api/v1beta1/common_types.go
  src/api/v1beta1/neo4j_types.go
  src/api/v1beta1/neo4j_types_test.go
  src/api/v1beta1/neo4j_validation_test.go
  src/api/v1beta1/zz_generated.deepcopy.go
  src/internal/domain/formation/reconcile_test.go
  src/internal/domain/serverconfig/reconcile_test.go
  src/internal/domain/workload/reconcile_pdb_test.go
  src/internal/domain/workload/reconcile_pullsecrets_test.go
  src/internal/render/context.go
  src/internal/render/context_test.go
  src/internal/render/workload/offline_test.go
  src/internal/render/workload/probes_test.go
  src/internal/render/workload/scheduling_test.go
  src/internal/render/workload/statefulset.go
  src/internal/render/workload/statefulset_test.go
  src/internal/validation/neo4j_validator_test.go
  tests/coverage.md
  tests/fixtures/neo4j-cluster-on-community.yaml
  tests/fixtures/neo4j-no-license.yaml
  tests/suites/operator-admission.yaml
Due: go-fmt, go-imports, golangci-lint-fast

fix(ci): require CLOUD environment variable in CI for e2e tests
  .github/actions/e2e/action.yml
  tests/bin/run-e2e.sh
Due: none

refactor(cleanup): enhance Neo4j resource deletion process in run.sh
  tests/actions/cleanup/standalone/run.sh
Due: none

Fix(tests): e2e cloud target
  .github/actions/e2e/action.yml
  tests/actions/cleanup/standalone/run.sh
  tests/bin/run-e2e.sh
Due: none

test: cover cert-manager TLS issuance and leaf rotation
  src/internal/controller/neo4j/watches_test.go
  src/internal/domain/formation/admin_tls_test.go
  src/internal/domain/trust/certmanager_test.go
  src/internal/domain/workload/reconcile_tls_test.go
  src/internal/render/trust/checksum_test.go
  src/internal/status/writer_test.go
  tests/actions/assert/tls-ready/run.sh
  tests/actions/assert/tls-ready/verify.sh
  tests/actions/assert/tls-renewal/run.sh
  tests/actions/assert/tls-renewal/verify.sh
  tests/actions/cert-manager/install/run.sh
  tests/actions/cert-manager/install/verify.sh
  tests/config/neo4j/cases/cluster-tls-cert-manager.sh
  tests/coverage.md
  tests/fixtures/neo4j-tls-cert-manager.yaml
  tests/pipelines/neo4j-tls-suite.yaml
  tests/suites/feature-tls.yaml
Due: go-fmt, go-imports, golangci-lint-fast

trust: issue TLS certificates via cert-manager
  charts/neo4j-operator/templates/_helpers.tpl
  config/crd/bases/neo4j.com_neo4js.yaml
  config/rbac/role.yaml
  docs/design/crd-spec/neo4j/spec.md
  docs/design/crd-spec/neo4j/validation.md
  docs/design/decision-records/business/neo4j/007-tls-trust-model.md
  docs/design/decision-records/business/neo4j/011-https-connector-tls-coupling.md
  docs/user-guide/01-getting-started/feature-status.md
  docs/user-guide/03-neo4j/05-security.md
  docs/user-guide/05-reference/api.md
  examples/README.md
  examples/cluster/08-tls-cert-manager.yaml
  examples/standalone/22-security.yaml
  go.mod
  go.sum
  src/api/v1beta1/cel_rules_test.go
  src/api/v1beta1/common_types.go
  src/api/v1beta1/neo4j_types.go
  src/internal/controller/neo4j/reconciler.go
  src/internal/controller/neo4j/reconciler_test.go
  src/internal/controller/neo4j/watches.go
  src/internal/domain/formation/admin_tls.go
  src/internal/domain/trust/certmanager.go
  src/internal/domain/trust/certmanager_test.go
  src/internal/domain/trust/reconcile.go
  src/internal/domain/trust/reconcile_test.go
  src/internal/domain/workload/reconcile.go
  src/internal/render/trust/certificate.go
  src/internal/render/trust/certificate_test.go
  src/internal/render/trust/checksum.go
  src/internal/render/trust/volumes.go
  src/internal/render/trust/volumes_test.go
  src/internal/status/writer.go
  src/internal/validation/examples_test.go
  tests/coverage.md
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint-fast

release: publish operator image and Helm chart to GHCR
  .github/workflows/release.yml
  README.md
  charts/neo4j-operator/README.md
  charts/neo4j-operator/templates/NOTES.txt
  charts/neo4j-operator/values.yaml
Due: none

fix(monitoring): record spec-derived Events once per generation
  docs/user-guide/05-reference/errors.md
  src/internal/controller/neo4j/duplicates_test.go
  src/internal/controller/neo4j/reconciler.go
  src/internal/domain/formation/admin_tls.go
  src/internal/domain/formation/admin_tls_test.go
  src/internal/domain/formation/reconcile.go
  src/internal/events/advisory.go
  src/internal/events/advisory_test.go
  tests/lib/common.sh
Due: go-fmt, go-imports, golangci-lint-fast

docs: update helm install path
  README.md
  docs/user-guide/01-getting-started/feature-status.md
  docs/user-guide/01-getting-started/first-neo4j.md
  docs/user-guide/01-getting-started/local-kind.md
  docs/user-guide/01-getting-started/readme.md
  docs/user-guide/02-operator-installation/01-prerequisites.md
  docs/user-guide/02-operator-installation/02-build-image.md
  docs/user-guide/02-operator-installation/03-install.md
  docs/user-guide/02-operator-installation/readme.md
  docs/user-guide/readme.md
Due: none

Path conditions:
  go-fmt: any of: \.go$
  go-imports: any of: \.go$
  go-mod-tidy: any of: ^go\.(mod|sum)$
  golangci-lint-fast: any of: \.go$
