Repository neo4j-partners/neo4j-kubernetes-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, golangci-lint-fast

go-fmt:
  name: go fmt
  entry: gofmt
  args:
  - -w
  - -s
  language: system

go-imports:
  name: go imports
  entry: bash -c 'goimports -w .'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

golangci-lint-fast:
  name: golangci-lint (fast)
  entry: bash -c 'make golangci-lint && ./bin/golangci-lint run --config .golangci-precommit.yml --fix --timeout=2m'
  language: system
  pass_filenames: false

feat(backup): aggregate as a Neo4jBackup type (recovered full from a chain)
  config/crd/bases/neo4j.com_neo4jbackups.yaml
  docs/user-guide/05-reference/errors.md
  src/api/v1beta1/neo4jbackup_types.go
  src/api/v1beta1/zz_generated.deepcopy.go
  src/internal/controller/neo4jbackup/reconciler.go
  src/internal/controller/neo4jbackup/reconciler_test.go
  src/internal/controller/neo4jrestore/reconciler.go
  src/internal/oracle/catalog.go
  src/internal/render/backup/aggregate.go
  src/internal/render/backup/aggregate_test.go
  tests/lib/oracle.sh
Due: go-fmt, go-imports, golangci-lint-fast

test(e2e): add missing run/verify scripts for backupref-chain actions
  tests/actions/assert/restore-chain/run.sh
  tests/actions/restore/backupref-chain/verify.sh
Due: none

feat(restore): opt-in post-seed metadata apply (users/roles/privileges)
  config/crd/bases/neo4j.com_neo4jrestores.yaml
  docs/user-guide/05-reference/errors.md
  src/api/v1beta1/neo4jrestore_types.go
  src/internal/controller/neo4jrestore/reconciler.go
  src/internal/controller/neo4jrestore/reconciler_test.go
  src/internal/oracle/catalog.go
  src/internal/render/backup/metadata.go
  src/internal/render/backup/metadata_test.go
  tests/lib/oracle.sh
Due: go-fmt, go-imports, golangci-lint-fast

refactor(restore): drop dead source.aggregate path
  config/crd/bases/neo4j.com_neo4jrestores.yaml
  docs/design/decision-records/architecture/015-backup-and-restore.md
  docs/user-guide/05-reference/errors.md
  src/api/v1beta1/neo4jrestore_types.go
  src/internal/controller/neo4jrestore/reconciler.go
  src/internal/controller/neo4jrestore/reconciler_test.go
  src/internal/oracle/catalog.go
  src/internal/render/backup/aggregate.go
  tests/lib/oracle.sh
Due: go-fmt, go-imports, golangci-lint-fast

feat(restore): metadata Job dials encrypted Bolt when TLS is enabled
  src/internal/render/backup/metadata.go
  src/internal/render/backup/metadata_test.go
Due: go-fmt, go-imports, golangci-lint-fast

test(e2e): cover restoreMetadata in feature-restore-backupref
  src/internal/render/backup/metadata.go
  tests/actions/assert/restore-chain/verify.sh
  tests/actions/restore/backupref-chain/run.sh
  tests/suites/feature-restore-backupref.yaml
Due: go-fmt, go-imports, golangci-lint-fast

docs(backup-restore): add user guide and mark feature Implemented
  docs/user-guide/01-getting-started/feature-status.md
  docs/user-guide/03-neo4j/10-backup-restore.md
  docs/user-guide/03-neo4j/readme.md
Due: none

test(e2e): restore neo4j with overwrite in backupref-chain suite
  tests/actions/assert/restore-chain/verify.sh
  tests/actions/restore/backupref-chain/run.sh
  tests/suites/feature-restore-backupref.yaml
Due: none

fix(status): do not advance observedGeneration when the pipeline fails
  src/internal/controller/neo4j/observed_generation_test.go
  src/internal/controller/neo4j/reconciler.go
  src/internal/status/phase_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(status): do not advance observedGeneration when the pipeline fails (#93)
  src/internal/controller/neo4j/observed_generation_test.go
  src/internal/controller/neo4j/reconciler.go
  src/internal/status/phase_test.go
Due: go-fmt, go-imports, golangci-lint-fast

feat(backup): implement ADR-016 cloud identity for backup & restore
  config/crd/bases/neo4j.com_neo4jbackups.yaml
  config/crd/bases/neo4j.com_neo4jbackupschedules.yaml
  config/crd/bases/neo4j.com_neo4jrestores.yaml
  config/crd/bases/neo4j.com_neo4js.yaml
  docs/design/decision-records/architecture/016-cloud-identity.md
  docs/design/decision-records/readme.md
  examples/README.md
  examples/standalone/22-security.yaml
  examples/standalone/25-cloud-identity-azure-backup.md
  examples/standalone/25-cloud-identity.yaml
  src/api/v1beta1/common_types.go
  src/api/v1beta1/neo4jbackup_types.go
  src/api/v1beta1/neo4jrestore_types.go
  src/api/v1beta1/zz_generated.deepcopy.go
  src/internal/domain/workload/reconcile.go
  src/internal/render/backup/aggregate.go
  src/internal/render/backup/job.go
  src/internal/render/backup/job_test.go
  src/internal/render/backup/metadata.go
  src/internal/render/backup/prune.go
  src/internal/render/workload/cloudidentity.go
  src/internal/render/workload/cloudidentity_test.go
  src/internal/render/workload/security.go
  src/internal/render/workload/security_test.go
  src/internal/render/workload/statefulset.go
Due: go-fmt, go-imports, golangci-lint-fast

docs(backup): ratify ADR-016 cloud identity
  docs/design/crd-spec/neo4j/spec.md
  docs/design/decision-records/architecture/016-cloud-identity.md
  docs/design/decision-records/business/backup-restore/014-backup-restore.md
  docs/user-guide/03-neo4j/10-backup-restore.md
Due: none

fix(restore): enable cloud seed provider for object-store restore
  src/internal/controller/neo4jrestore/reconciler.go
  src/internal/controller/neo4jrestore/reconciler_test.go
  src/internal/render/serverconfig/cluster_defaults.go
  src/internal/render/serverconfig/cluster_defaults_test.go
Due: go-fmt, go-imports, golangci-lint-fast

docs(backup): newbie-friendly workload-identity guide + Azure restore runbook
  docs/design/decision-records/architecture/016-cloud-identity.md
  docs/user-guide/03-neo4j/10-backup-restore.md
  examples/standalone/25-cloud-identity-azure-backup.md
Due: none

test(backup): e2e MinIO S3 backup+restore round-trip (ADR-016)
  tests/actions/assert/restore-s3/run.sh
  tests/actions/assert/restore-s3/verify.sh
  tests/actions/backup/s3-cleanup/run.sh
  tests/actions/backup/s3-roundtrip/run.sh
  tests/actions/backup/s3-roundtrip/verify.sh
  tests/actions/minio/cleanup/run.sh
  tests/actions/minio/install/run.sh
  tests/actions/minio/install/verify.sh
  tests/fixtures/neo4j-backup-s3.yaml
  tests/suites/feature-backup-s3.yaml
Due: none

test(e2e): add cluster object-store backup+restore suite (feature-backup-s3-cluster)
  tests/actions/assert/restore-s3-cluster/run.sh
  tests/actions/assert/restore-s3-cluster/verify.sh
  tests/actions/backup/s3-roundtrip-cluster/run.sh
  tests/actions/backup/s3-roundtrip-cluster/verify.sh
  tests/fixtures/neo4j-cluster-s3.yaml
  tests/suites/feature-backup-s3-cluster.yaml
Due: none

feat(backup): object-store aggregate for Neo4jBackup (ADR-016)
  src/internal/controller/neo4jbackup/reconciler.go
  src/internal/controller/neo4jbackup/reconciler_test.go
  src/internal/oracle/catalog.go
  src/internal/render/backup/aggregate.go
  src/internal/render/backup/aggregate_test.go
  src/internal/render/backup/job.go
Due: go-fmt, go-imports, golangci-lint-fast

test(e2e): object-store aggregate MinIO suite (feature-backup-s3-aggregate)
  tests/actions/assert/restore-s3-aggregate/run.sh
  tests/actions/assert/restore-s3-aggregate/verify.sh
  tests/actions/backup/s3-aggregate-cleanup/run.sh
  tests/actions/backup/s3-aggregate/run.sh
  tests/actions/backup/s3-aggregate/verify.sh
  tests/suites/feature-backup-s3-aggregate.yaml
Due: none

docs(backup): document object-store aggregate (ADR-016)
  docs/design/decision-records/architecture/016-cloud-identity.md
  docs/user-guide/03-neo4j/10-backup-restore.md
  docs/user-guide/05-reference/errors.md
Due: none

feat(backup): isolate object-store chains in per-chain prefixes
  docs/design/decision-records/architecture/016-cloud-identity.md
  src/internal/controller/neo4jbackup/reconciler.go
  src/internal/controller/neo4jbackup/reconciler_test.go
  src/internal/render/backup/job.go
  src/internal/render/backup/job_test.go
Due: go-fmt, go-imports, golangci-lint-fast

feat(backup): infer a daily chain for ad-hoc backups
  docs/design/decision-records/architecture/016-cloud-identity.md
  docs/user-guide/03-neo4j/10-backup-restore.md
  src/internal/controller/neo4jbackup/reconciler.go
  src/internal/controller/neo4jbackup/reconciler_test.go
  tests/actions/backup/s3-aggregate/run.sh
Due: go-fmt, go-imports, golangci-lint-fast

fix(watches): watch PersistentVolumeClaims so storage transitions report at once
  docs/design/decision-records/architecture/009-watches-and-predicates.md
  src/internal/controller/neo4j/reconciler.go
  src/internal/controller/neo4j/watches.go
  src/internal/controller/neo4j/watches_test.go
  src/internal/render/context.go
  tests/actions/assert/storage-grow/verify.sh
Due: go-fmt, go-imports, golangci-lint-fast

chore(tests): update file permissions for AWS EKS and Oracle scripts
  tests/config/cloud/aws-eks.sh
  tests/lib/oracle.sh
  tests/lib/summary.sh
Due: none

Fix/watch pvc storage ready (#94)
  docs/design/decision-records/architecture/009-watches-and-predicates.md
  src/internal/controller/neo4j/reconciler.go
  src/internal/controller/neo4j/watches.go
  src/internal/controller/neo4j/watches_test.go
  src/internal/render/context.go
  tests/actions/assert/storage-grow/verify.sh
  tests/config/cloud/aws-eks.sh
  tests/lib/oracle.sh
  tests/lib/summary.sh
Due: go-fmt, go-imports, golangci-lint-fast

feat(release): publish the operator image for linux/amd64 and linux/arm64
  .github/workflows/release.yml
  Dockerfile
  charts/neo4j-operator/README.md
  docs/user-guide/02-operator-installation/02-build-image.md
Due: none

feat(backup): delegate object-store retention to bucket lifecycle
  docs/design/decision-records/architecture/016-cloud-identity.md
  docs/user-guide/03-neo4j/10-backup-restore.md
  docs/user-guide/05-reference/errors.md
  src/internal/controller/neo4jbackupschedule/reconciler.go
  src/internal/controller/neo4jbackupschedule/reconciler_test.go
  src/internal/oracle/catalog.go
  tests/lib/oracle.sh
Due: go-fmt, go-imports, golangci-lint-fast

feat(backup): operator-owned object-store retention (ADR-016)
  docs/design/decision-records/architecture/016-cloud-identity.md
  docs/user-guide/03-neo4j/10-backup-restore.md
  docs/user-guide/05-reference/errors.md
  src/cmd/manager/main.go
  src/internal/controller/neo4jbackup/reconciler.go
  src/internal/controller/neo4jbackup/reconciler_test.go
  src/internal/controller/neo4jbackupschedule/reconciler.go
  src/internal/controller/neo4jbackupschedule/reconciler_test.go
  src/internal/oracle/catalog.go
  src/internal/render/backup/aggregate.go
  src/internal/render/backup/aggregate_test.go
  src/internal/render/backup/prune.go
  src/internal/render/backup/prune_test.go
  tests/lib/oracle.sh
Due: go-fmt, go-imports, golangci-lint-fast

feat(release): publish the operator image for linux/amd64 and linux/arm64 (#95)
  .github/workflows/release.yml
  Dockerfile
  charts/neo4j-operator/README.md
  docs/user-guide/02-operator-installation/02-build-image.md
Due: none

fix(backup): write ad-hoc backups to the url as given (ADR-016)
  docs/design/decision-records/architecture/016-cloud-identity.md
  docs/user-guide/03-neo4j/10-backup-restore.md
  src/internal/controller/neo4jbackup/reconciler.go
  src/internal/controller/neo4jbackup/reconciler_test.go
  tests/actions/backup/s3-aggregate/run.sh
Due: go-fmt, go-imports, golangci-lint-fast

feat(backup): add Neo4jBackup, Neo4jBackupSchedule, Neo4jRestore CRD types
  Makefile
  config/crd/bases/kustomization.yaml
  config/crd/bases/neo4j.com_neo4jbackups.yaml
  config/crd/bases/neo4j.com_neo4jbackupschedules.yaml
  config/crd/bases/neo4j.com_neo4jrestores.yaml
  src/api/v1beta1/backup_types_test.go
  src/api/v1beta1/cel_rules_test.go
  src/api/v1beta1/neo4jbackup_types.go
  src/api/v1beta1/neo4jbackupschedule_types.go
  src/api/v1beta1/neo4jrestore_types.go
  src/api/v1beta1/zz_generated.deepcopy.go
Due: go-fmt, go-imports, golangci-lint-fast

docs(design): add backup/restore decision records (BDR-014, ADR-015)
  docs/design/backup-restore/disaster-recovery.md
  docs/design/decision-records/architecture/015-backup-and-restore.md
  docs/design/decision-records/business/backup-restore/014-backup-restore.md
  docs/design/decision-records/business/database/013-database.md
  docs/design/decision-records/readme.md
Due: none

fix(backup-restore): make PVC backup→restore round-trip work end to end
  charts/neo4j-operator/templates/_helpers.tpl
  src/internal/neo4j/driver.go
  src/internal/render/backup/job.go
  src/internal/render/backup/job_test.go
  src/internal/render/serverconfig/cluster_defaults.go
  src/internal/render/serverconfig/cluster_defaults_test.go
  src/internal/render/workload/security.go
Due: go-fmt, go-imports, golangci-lint-fast

feat(schedule): Neo4jBackupSchedule cron emitter (increment 1)
  charts/neo4j-operator/templates/_helpers.tpl
  config/rbac/role.yaml
  docs/design/crd-spec/neo4j/status.md
  docs/user-guide/05-reference/errors.md
  go.mod
  go.sum
  src/cmd/manager/main.go
  src/internal/controller/neo4jbackup/reconciler.go
  src/internal/controller/neo4jbackupschedule/reconciler.go
  src/internal/controller/neo4jbackupschedule/reconciler_test.go
  src/internal/oracle/catalog.go
  tests/lib/oracle.sh
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint-fast

feat(restore): backup->restore round-trip via file:/backups pointer
  config/crd/bases/neo4j.com_neo4jbackups.yaml
  src/api/v1beta1/neo4jbackup_types.go
  src/internal/controller/neo4jbackup/reconciler.go
  src/internal/controller/neo4jrestore/reconciler.go
  src/internal/controller/neo4jrestore/reconciler_test.go
  src/internal/render/backup/job.go
  src/internal/render/backup/job_test.go
Due: go-fmt, go-imports, golangci-lint-fast

feat(restore): reconcile Neo4jRestore via Bolt seed-from-URI
  config/rbac/role.yaml
  docs/user-guide/05-reference/errors.md
  src/cmd/manager/main.go
  src/internal/controller/neo4jrestore/reconciler.go
  src/internal/controller/neo4jrestore/reconciler_test.go
  src/internal/domain/formation/dial.go
  src/internal/domain/formation/reconcile_test.go
  src/internal/neo4j/admin.go
  src/internal/neo4j/driver.go
  src/internal/oracle/catalog.go
  tests/lib/oracle.sh
Due: go-fmt, go-imports, golangci-lint-fast

feat(backup): per-chain sub-directory isolation + gate incrementals on full completion
  docs/user-guide/05-reference/errors.md
  src/internal/controller/neo4jbackup/reconciler.go
  src/internal/controller/neo4jbackup/reconciler_test.go
  src/internal/controller/neo4jbackupschedule/reconciler.go
  src/internal/controller/neo4jbackupschedule/reconciler_test.go
  src/internal/oracle/catalog.go
  src/internal/render/backup/aggregate.go
  src/internal/render/backup/job.go
  src/internal/render/backup/job_test.go
  src/internal/render/backup/prune.go
  src/internal/render/backup/prune_test.go
  tests/lib/oracle.sh
Due: go-fmt, go-imports, golangci-lint-fast

feat(backup): populate status.artifacts[].sizeBytes
  docs/design/crd-spec/neo4j/status.md
  src/internal/controller/neo4jbackup/reconciler.go
  src/internal/controller/neo4jbackup/reconciler_test.go
  src/internal/controller/neo4jrestore/reconciler.go
  src/internal/domain/shared/pods.go
  src/internal/domain/shared/pods_test.go
  src/internal/render/backup/aggregate.go
  src/internal/render/backup/job.go
  src/internal/render/backup/job_test.go
  tests/lib/oracle.sh
Due: go-fmt, go-imports, golangci-lint-fast

feat(schedule): aggregate cadence — boundary compaction + aggregate-aware retention
  config/crd/bases/neo4j.com_neo4jbackupschedules.yaml
  docs/user-guide/05-reference/errors.md
  src/api/v1beta1/backup_types_test.go
  src/api/v1beta1/neo4jbackupschedule_types.go
  src/internal/controller/neo4jbackupschedule/reconciler.go
  src/internal/controller/neo4jbackupschedule/reconciler_test.go
  src/internal/oracle/catalog.go
  src/internal/render/backup/prune.go
  src/internal/render/backup/prune_test.go
  tests/lib/oracle.sh
Due: go-fmt, go-imports, golangci-lint-fast

fix(backup-restore): make PVC backup→restore round-trip work end to end
  docs/design/decision-records/architecture/015-backup-and-restore.md
  src/internal/rbac/manager_role_sync_test.go
Due: go-fmt, go-imports, golangci-lint-fast

Path conditions:
  go-fmt: any of: \.go$
  go-imports: any of: \.go$
  go-mod-tidy: any of: ^go\.(mod|sum)$
  golangci-lint-fast: any of: \.go$
