Repository neo4j-partners/neo4j-kubernetes-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, golangci-lint-fast

go-fmt:
  name: go fmt
  entry: gofmt
  args:
  - -w
  - -s
  language: system

go-imports:
  name: go imports
  entry: bash -c 'goimports -w .'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

golangci-lint-fast:
  name: golangci-lint (fast)
  entry: bash -c 'make golangci-lint && ./bin/golangci-lint run --config .golangci-precommit.yml --fix --timeout=2m'
  language: system
  pass_filenames: false

feat(storage): automated PVC volume expansion for cluster and standalone deployments
  CLAUDE.md
  bundle.Dockerfile
  bundle/manifests/neo4j-kubernetes-operator.clusterserviceversion.yaml
  bundle/manifests/neo4j.neo4j.com_neo4jenterpriseclusters.yaml
  bundle/manifests/neo4j.neo4j.com_neo4jenterprisestandalones.yaml
  bundle/metadata/annotations.yaml
  charts/neo4j-operator/templates/clusterrole.yaml
  config/rbac/role.yaml
  docs/README.md
  docs/api_reference/neo4jenterprisecluster.md
  docs/api_reference/neo4jenterprisestandalone.md
  docs/user_guide/guides/kubernetes-events.md
  docs/user_guide/guides/storage_expansion.md
  examples/clusters/storage-expansion.yaml
  internal/controller/conditions.go
  internal/controller/events.go
  internal/controller/neo4jenterprisecluster_controller.go
  internal/controller/neo4jenterprisestandalone_controller.go
  internal/controller/standalone_storage_expansion.go
  internal/controller/standalone_storage_expansion_test.go
  internal/controller/storage_expansion.go
  internal/controller/storage_expansion_test.go
Due: go-fmt, go-imports, golangci-lint-fast

docs: update API references, examples, and Helm README for recent changes
  CLAUDE.md
  charts/neo4j-operator/README.md
  docs/api_reference/neo4jenterprisecluster.md
  docs/api_reference/neo4jenterprisestandalone.md
  examples/end-to-end/development-workflow.yaml
Due: none

fix: use stable, role-aware labels for PVC discovery in storage expansion
  docs/user_guide/guides/storage_expansion.md
  docs/user_guide/troubleshooting/split-brain-recovery.md
  internal/controller/neo4jenterprisestandalone_controller.go
  internal/controller/standalone_storage_expansion.go
  internal/controller/standalone_storage_expansion_test.go
  internal/controller/storage_expansion.go
  internal/controller/storage_expansion_test.go
  internal/resources/cluster.go
Due: go-fmt, go-imports, golangci-lint-fast

feat: modernize developer experience with Tilt, dev containers, and DX tooling
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .tool-versions
  CLAUDE.md
  CONTRIBUTING.md
  Dockerfile
  Makefile
  Tiltfile
  hack/Dockerfile.tilt
  hack/smoke-test-standalone.yaml
Due: none

fix: correct database name validation to match Neo4j naming rules
  CLAUDE.md
  internal/validation/database_validator.go
  internal/validation/database_validator_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fix: add trailing newline in BuildMonitoringConfig() to prevent neo4j.conf corruption
  internal/resources/cluster.go
  internal/resources/cluster_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(rbac): add monitoring.coreos.com rules for ServiceMonitor and PrometheusRule
  charts/neo4j-operator/templates/clusterrole.yaml
  config/rbac/role.yaml
  internal/controller/neo4jenterprisecluster_controller.go
Due: go-fmt, go-imports, golangci-lint-fast

docs: add v1.6.0-alpha migration section for API breaking changes
  docs/user_guide/migration_guide.md
Due: none

fix(olm): add monitoring.coreos.com RBAC rules to bundle CSV
  bundle/manifests/neo4j-kubernetes-operator.clusterserviceversion.yaml
Due: none

fix(olm): replace placeholder metadata in CSV for OperatorHub readiness
  bundle/manifests/neo4j-kubernetes-operator.clusterserviceversion.yaml
  config/manifests/bases/neo4j-kubernetes-operator.clusterserviceversion.yaml
Due: none

fix: correct breaking changes baseline to v1.6.0-alpha
  .github/workflows/release.yml
  README.md
Due: none

fix(olm): add namespace-scoped permissions for OperatorHub display
  bundle/manifests/neo4j-kubernetes-operator.clusterserviceversion.yaml
  config/rbac/leader_election_role.yaml
  config/rbac/leader_election_role_binding.yaml
Due: none

docs: add security vulnerability reporting policy
  SECURITY.md
Due: none

fix: remove useless assignment to serverSts in rolling upgrade
  internal/controller/rolling_upgrade.go
Due: go-fmt, go-imports, golangci-lint-fast

docs: move envVarsEqual design rationale to function doc comment
  internal/controller/neo4jenterprisecluster_controller.go
Due: go-fmt, go-imports, golangci-lint-fast

refactor: make envVarSourceEqual a reconciler method for consistency
  internal/controller/neo4jenterprisecluster_controller.go
Due: go-fmt, go-imports, golangci-lint-fast

fix: remove dead Neo4j 4.x version support code
  internal/neo4j/client.go
Due: go-fmt, go-imports, golangci-lint-fast

fix: remove dead version branching in getMinInitialPrimariesSetting
  internal/resources/cluster.go
Due: go-fmt, go-imports, golangci-lint-fast

fix: correct misleading comment on zero primaries test case
  internal/validation/database_validator_test.go
Due: go-fmt, go-imports, golangci-lint-fast

refactor: replace custom containsString with strings.Contains
  internal/validation/database_validator_test.go
Due: go-fmt, go-imports, golangci-lint-fast

deps: upgrade cert-manager to v1.20.0 in cluster installs and docs
  CLAUDE.md
  Makefile
  docs/developer_guide/development.md
  docs/developer_guide/makefile_reference.md
  examples/README.md
  hack/deploy-dev.sh
  hack/test-webhooks.sh
  scripts/test-env.sh
  test/utils/utils.go
Due: go-fmt, go-imports, golangci-lint-fast

deps: upgrade cert-manager to v1.20.0 and controller-runtime to v0.23.1
  go.mod
  go.sum
  internal/controller/fast_cache.go
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint-fast

ci: bump Go version to 1.25 for controller-runtime v0.23 compatibility
  .devcontainer/Dockerfile
  .github/actions/setup-go/action.yml
  .github/workflows/ci.yml
  .github/workflows/integration-tests.yml
  .github/workflows/openshift-olm-smoke.yml
  .github/workflows/release.yml
  Dockerfile
Due: none

fix(ci): bump Kind to v0.27.0 and min K8s to 1.30 for cert-manager v1.20.0
  .github/actions/setup-k8s/action.yml
  .github/workflows/ci.yml
  .github/workflows/integration-tests.yml
  .github/workflows/release.yml
  bundle/manifests/neo4j-kubernetes-operator.clusterserviceversion.yaml
  config/manifests/bases/neo4j-kubernetes-operator.clusterserviceversion.yaml
Due: none

docs: update version requirements for Go 1.25, Kind 0.27, K8s 1.30
  .github/workflows/README.md
  CONTRIBUTING.md
  README.md
  charts/neo4j-operator/README.md
  docs/developer_guide/development.md
  docs/user_guide/getting_started.md
Due: none

fix: add standalone health probes, enforce bolt TLS, update demo script
  Makefile
  config/crd/bases/neo4j.neo4j.com_neo4jenterpriseclusters.yaml
  config/crd/bases/neo4j.neo4j.com_neo4jenterprisestandalones.yaml
  config/crd/bases/neo4j.neo4j.com_neo4jrestores.yaml
  docs/api_reference/neo4jenterprisestandalone.md
  docs/user_guide/guides/configuration_best_practices.md
  docs/user_guide/guides/troubleshooting.md
  examples/README.md
  examples/clusters/cluster-with-read-replicas.yaml
  examples/clusters/multi-server-cluster.yaml
  examples/clusters/production-optimized-cluster.yaml
  examples/clusters/three-node-cluster.yaml
  examples/clusters/three-node-simple.yaml
  examples/clusters/topology-placement-cluster.yaml
  examples/standalone/nodeport-standalone.yaml
  examples/standalone/single-node-standalone.yaml
  internal/controller/neo4jenterprisestandalone_controller.go
  internal/controller/neo4jenterprisestandalone_controller_test.go
  internal/resources/cluster.go
  internal/resources/cluster_tls_test.go
  internal/validation/config_validator.go
  internal/validation/config_validator_test.go
  scripts/demo-setup.sh
  scripts/demo.sh
  test/integration/standalone_deployment_test.go
Due: go-fmt, go-imports, golangci-lint-fast

docs: update for standalone health probes, bolt TLS REQUIRED, demo cleanup
  CLAUDE.md
  docs/api_reference/neo4jenterprisestandalone.md
  docs/developer_guide/makefile_reference.md
  docs/user_guide/configuration/tls.md
Due: none

chore: sync Helm chart CRDs with generated bases
  charts/neo4j-operator/crds/neo4j.neo4j.com_neo4jenterpriseclusters.yaml
  charts/neo4j-operator/crds/neo4j.neo4j.com_neo4jenterprisestandalones.yaml
  charts/neo4j-operator/crds/neo4j.neo4j.com_neo4jrestores.yaml
Due: none

fix(ci): increase ginkgo suite timeout from 60m to 90m
  .github/workflows/integration-tests.yml
Due: none

Path conditions:
  go-fmt: any of: \.go$
  go-imports: any of: \.go$
  go-mod-tidy: any of: ^go\.(mod|sum)$
  golangci-lint-fast: any of: \.go$
