Repository neo4j-partners/neo4j-kubernetes-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, golangci-lint-fast

go-fmt:
  name: go fmt
  entry: gofmt
  args:
  - -w
  - -s
  language: system

go-imports:
  name: go imports
  entry: bash -c 'goimports -w .'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

golangci-lint-fast:
  name: golangci-lint (fast)
  entry: bash -c 'make golangci-lint && ./bin/golangci-lint run --config .golangci-precommit.yml --fix --timeout=2m'
  language: system
  pass_filenames: false

feat: enhance CI workflow with new deployment capabilities and resource management
  .github/workflows/ci.yml
  Makefile
  config/ci/disable_webhooks_patch.yaml
  config/ci/kustomization.yaml
  config/ci/manager_metrics_patch.yaml
  config/ci/manager_resources_patch.yaml
  config/ci/metrics_service.yaml
  config/rbac/leader_election_role.yaml
  config/rbac/leader_election_role_binding.yaml
  config/rbac/metrics_auth_role_binding.yaml
  config/rbac/role_binding.yaml
  config/rbac/service_account.yaml
  hack/kind-config-basic.yaml
  hack/kind-config-cgroups-v2.yaml
  hack/kind-config-cgroups.yaml
  hack/kind-config-ci.yaml
  hack/kind-config-minimal.yaml
  hack/kind-config-robust.yaml
  hack/kind-config-simple.yaml
  hack/kind-config-single.yaml
  hack/kind-config.yaml
  scripts/test-cluster-creation.sh
Due: none

feat: enhance CI workflow with comprehensive image verification and debugging steps
  .github/workflows/ci.yml
  ci-fixes-summary.md
  cmd/kubectl-neo4j/pkg/cmd/monitor.go
  scripts/test-cleanup.sh
  test/integration/cluster_lifecycle_test.go
  test/integration/enterprise_features_test.go
  test/integration/failure_scenarios_test.go
  test/integration/integration_suite_test.go
Due: go-fmt, go-imports, golangci-lint-fast

feat: enhance integration testing and CI workflow with webhook support
  .github/workflows/ci.yml
  Makefile
  cmd/main.go
  config/certmanager/certificate.yaml
  config/certmanager/issuer.yaml
  config/certmanager/kustomization.yaml
  config/rbac/service_account.yaml
  config/test-with-webhooks/kustomization.yaml
  docs/performance-guide.md
  scripts/test-integration-with-webhooks.sh
  test-output.log
  test/integration/failure_scenarios_test.go
  test/integration/integration_suite_test.go
Due: go-fmt, go-imports, golangci-lint-fast

feat: update testing configurations and enhance cleanup procedures
  Makefile
  config/manager/kustomization.yaml
  scripts/test-cleanup.sh
  test/e2e/e2e_test.go
  test/utils/utils.go
Due: go-fmt, go-imports, golangci-lint-fast

feat: remove test-output.log and enhance logging in readiness checks
  cmd/main.go
  config/rbac/role.yaml
  internal/controller/neo4jrestore_controller_test.go
  test-output.log
Due: go-fmt, go-imports, golangci-lint-fast

feat: update CLAUDE.md and enhance cache strategy in main.go
  CLAUDE.md
  cmd/main.go
  config/dev/manager_webhook_patch.yaml
  config/rbac/role-consolidated.yaml
Due: go-fmt, go-imports, golangci-lint-fast

fix: resolve unit test compilation failures
  test/integration/webhook_integration_test.go
  test/webhooks/webhook_tls_test.go
Due: go-fmt, go-imports, golangci-lint-fast

feat: add Envtest setup documentation and enhance test scripts
  ENVTEST-SETUP.md
  Makefile
  scripts/run-tests.sh
Due: none

remove: delete nightly workflow
  .github/workflows/nightly.yml
Due: none

docs: fix critical documentation issues across project
  CONTRIBUTING.md
  README.md
  docs/user_guide/clustering.md
  docs/user_guide/getting_started.md
Due: none

docs: update user-facing documentation to reflect performance optimizations
  README.md
  docs/developer_guide/architecture.md
  docs/user_guide/guides/monitoring.md
  docs/user_guide/guides/performance.md
Due: none

fix: correct YAML syntax in ClusterRoleBinding subjects array
  .github/workflows/README.md
  .github/workflows/ci.yml
  CONTRIBUTING.md
  docs/README.md
  docs/api_reference/neo4jbackup.md
  docs/api_reference/neo4jrestore.md
  docs/developer_guide/contributing.md
  docs/user_guide/guides/backup_restore.md
  docs/user_guide/guides/troubleshooting_backup_restore.md
  examples/backup-restore/README.md
  examples/backup-restore/backup-pvc-simple.yaml
  examples/backup-restore/backup-s3-basic.yaml
  examples/backup-restore/backup-scheduled-daily.yaml
  examples/backup-restore/pitr-setup-complete.yaml
  examples/backup-restore/restore-from-backup.yaml
  examples/backup-restore/restore-pitr-basic.yaml
  go.mod
  internal/controller/neo4jbackup_controller.go
  internal/controller/neo4jbackup_controller_test.go
  internal/controller/neo4jrestore_controller.go
  internal/controller/neo4jrestore_controller_test.go
  internal/monitoring/resource_monitor.go
  internal/validation/backup_validator.go
  internal/validation/backup_validator_test.go
  internal/validation/memory_validator.go
  internal/validation/plugin_validator_test.go
  internal/validation/security_validator.go
  internal/validation/security_validator_test.go
  test/integration/integration_suite_test.go
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint-fast

feat: add on-demand full integration testing workflow
  .github/workflows/integration-e2e.yml
  docs/testing/full-integration-tests.md
Due: none

fix: resolve CI integration test KUBECONFIG issue
  Makefile
Due: none

feat: implement unified Neo4j cluster formation with coordinated startup
  CLAUDE.md
  README.md
  api/v1alpha1/neo4jenterprisecluster_types.go
  config/crd/bases/neo4j.neo4j.com_neo4jenterpriseclusters.yaml
  config/dev/kustomization.yaml
  config/manager/manager.yaml
  config/rbac/leader_election_role_binding.yaml
  config/rbac/metrics_auth_role_binding.yaml
  config/rbac/role.yaml
  config/rbac/role_binding.yaml
  config/rbac/service_account.yaml
  docs/user_guide/clustering.md
  docs/user_guide/getting_started.md
  docs/user_guide/guides/fault_tolerance.md
  examples/README.md
  examples/clusters/cluster-with-read-replicas.yaml
  examples/clusters/four-primary-cluster.yaml
  examples/clusters/single-node.yaml
  examples/clusters/two-primary-cluster.yaml
  internal/controller/neo4jenterprisecluster_controller.go
  internal/resources/cluster.go
  internal/resources/cluster_startup_test.go
  internal/resources/cluster_test.go
  internal/validation/cluster_validator.go
  internal/validation/cluster_validator_test.go
  internal/validation/config_validator.go
  internal/validation/config_validator_test.go
  internal/validation/memory_validator.go
  internal/validation/topology_validator.go
  internal/validation/topology_validator_test.go
  test/integration/cluster_lifecycle_test.go
  test/integration/integration_suite_test.go
  test/integration/multi_node_cluster_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fix: update Neo4j configuration to use non-deprecated 5.26+ settings
  CLAUDE.md
  README.md
  api/v1alpha1/neo4jenterprisestandalone_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/main.go
  config/crd/bases/neo4j.neo4j.com_neo4jenterprisestandalones.yaml
  config/rbac/role.yaml
  docs/README.md
  docs/api_reference/neo4jenterprisecluster.md
  docs/api_reference/neo4jenterprisestandalone.md
  docs/developer_guide/architecture.md
  docs/user_guide/getting_started.md
  docs/user_guide/guides/configuration_best_practices.md
  docs/user_guide/guides/troubleshooting.md
  docs/user_guide/migration_guide.md
  examples/clusters/cluster-with-read-replicas.yaml
  examples/clusters/minimal-cluster.yaml
  examples/clusters/multi-primary-cluster.yaml
  examples/clusters/tls-cluster.yaml
  examples/standalone/single-node-standalone.yaml
  examples/standalone/tls-standalone.yaml
  internal/controller/autoscaler.go
  internal/controller/neo4jenterprisestandalone_controller.go
  internal/controller/neo4jenterprisestandalone_controller_test.go
  internal/resources/cluster.go
  internal/validation/standalone_validator.go
  internal/validation/topology_validator.go
  internal/validation/topology_validator_test.go
  scripts/README-demo.md
  scripts/demo.sh
  test/integration/integration_suite_test.go
  test/integration/multi_node_cluster_test.go
  test/integration/standalone_deployment_test.go
  test/utils/cleanup.go
Due: go-fmt, go-imports, golangci-lint-fast

fix: implement parallel pod management and clean up deprecated Neo4j 2025.x settings
  .gitignore
  CLAUDE.md
  docs/developer_guide/architecture.md
  docs/user_guide/clustering.md
  docs/user_guide/guides/configuration_best_practices.md
  docs/user_guide/guides/troubleshooting.md
  examples/testing/README.md
  examples/testing/helm-test-values.yaml
  examples/testing/neo4j-2025-cluster.yaml
  examples/testing/neo4j-526-cluster.yaml
  internal/controller/neo4jenterprisecluster_controller.go
  internal/resources/cluster.go
  internal/resources/cluster_startup_test.go
  internal/resources/cluster_test.go
  test-cluster.yaml
  test-simple-cluster.yaml
  test-three-node.yaml
  test/integration/multi_node_cluster_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fix: add headless service DNS names to TLS certificates and update documentation
  README.md
  docs/api_reference/neo4jenterprisestandalone.md
  docs/developer_guide/architecture.md
  docs/user_guide/clustering.md
  docs/user_guide/installation.md
  examples/README.md
  examples/testing/README.md
  examples/testing/helm-test-values.yaml
  internal/controller/neo4jenterprisestandalone_controller_test.go
  internal/resources/cluster.go
  internal/resources/cluster_test.go
  test/integration/multi_node_cluster_test.go
Due: go-fmt, go-imports, golangci-lint-fast

feat: fix Neo4j Kubernetes discovery with endpoints RBAC permission
  CLAUDE.md
  config/rbac/role.yaml
  docs/developer_guide/architecture.md
  docs/user_guide/clustering.md
  internal/controller/neo4jenterprisecluster_controller.go
  internal/resources/cluster.go
  internal/resources/cluster_test.go
Due: go-fmt, go-imports, golangci-lint-fast

feat: implement optimized parallel cluster formation with 100% success rate
  CLAUDE.md
  config/rbac/role.yaml
  docs/developer_guide/architecture.md
  docs/user_guide/clustering.md
  internal/controller/neo4jenterprisecluster_controller.go
  internal/resources/cluster.go
  internal/resources/cluster_test.go
Due: go-fmt, go-imports, golangci-lint-fast

Path conditions:
  go-fmt: any of: \.go$
  go-imports: any of: \.go$
  go-mod-tidy: any of: ^go\.(mod|sum)$
  golangci-lint-fast: any of: \.go$
