Repository neo4j-partners/neo4j-kubernetes-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, golangci-lint-fast

go-fmt:
  name: go fmt
  entry: gofmt
  args:
  - -w
  - -s
  language: system

go-imports:
  name: go imports
  entry: bash -c 'goimports -w .'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

golangci-lint-fast:
  name: golangci-lint (fast)
  entry: bash -c 'make golangci-lint && ./bin/golangci-lint run --config .golangci-precommit.yml --fix --timeout=2m'
  language: system
  pass_filenames: false

test(e2e): add missing run/verify scripts for backupref-chain actions
  tests/actions/assert/restore-chain/run.sh
  tests/actions/restore/backupref-chain/verify.sh
Due: none

test(e2e): restore neo4j with overwrite in backupref-chain suite
  tests/actions/assert/restore-chain/verify.sh
  tests/actions/restore/backupref-chain/run.sh
  tests/suites/feature-restore-backupref.yaml
Due: none

feat(restore): opt-in post-seed metadata apply (users/roles/privileges)
  config/crd/bases/neo4j.com_neo4jrestores.yaml
  docs/user-guide/05-reference/errors.md
  src/api/v1beta1/neo4jrestore_types.go
  src/internal/controller/neo4jrestore/reconciler.go
  src/internal/controller/neo4jrestore/reconciler_test.go
  src/internal/oracle/catalog.go
  src/internal/render/backup/metadata.go
  src/internal/render/backup/metadata_test.go
  tests/lib/oracle.sh
Due: go-fmt, go-imports, golangci-lint-fast

test(e2e): cover restoreMetadata in feature-restore-backupref
  src/internal/render/backup/metadata.go
  tests/actions/assert/restore-chain/verify.sh
  tests/actions/restore/backupref-chain/run.sh
  tests/suites/feature-restore-backupref.yaml
Due: go-fmt, go-imports, golangci-lint-fast

refactor(restore): drop dead source.aggregate path
  config/crd/bases/neo4j.com_neo4jrestores.yaml
  docs/design/decision-records/architecture/015-backup-and-restore.md
  docs/user-guide/05-reference/errors.md
  src/api/v1beta1/neo4jrestore_types.go
  src/internal/controller/neo4jrestore/reconciler.go
  src/internal/controller/neo4jrestore/reconciler_test.go
  src/internal/oracle/catalog.go
  src/internal/render/backup/aggregate.go
  tests/lib/oracle.sh
Due: go-fmt, go-imports, golangci-lint-fast

feat(restore): metadata Job dials encrypted Bolt when TLS is enabled
  src/internal/render/backup/metadata.go
  src/internal/render/backup/metadata_test.go
Due: go-fmt, go-imports, golangci-lint-fast

docs(backup-restore): add user guide and mark feature Implemented
  docs/user-guide/01-getting-started/feature-status.md
  docs/user-guide/03-neo4j/10-backup-restore.md
  docs/user-guide/03-neo4j/readme.md
Due: none

docs(design): rework ADR-017 against the official Neo4j upgrade guide
  docs/design/decision-records/architecture/017-rolling-upgrade.md
Due: none

feat(upgrade): refuse spec.version changes Neo4j does not permit
  config/crd/bases/neo4j.com_neo4js.yaml
  docs/user-guide/05-reference/errors.md
  src/api/v1beta1/common_types.go
  src/api/v1beta1/zz_generated.deepcopy.go
  src/internal/controller/neo4j/reconciler.go
  src/internal/domain/upgrade/preflight.go
  src/internal/domain/upgrade/preflight_test.go
  src/internal/oracle/catalog.go
  src/internal/status/pipeline_reason_test.go
  src/internal/status/writer.go
  tests/lib/oracle.sh
Due: go-fmt, go-imports, golangci-lint-fast

feat(upgrade): report a version change in status.upgrade
  src/internal/domain/upgrade/observe.go
  src/internal/domain/upgrade/observe_test.go
  src/internal/render/workload/statefulset.go
  src/internal/status/upgrade_test.go
  src/internal/status/writer.go
Due: go-fmt, go-imports, golangci-lint-fast

feat(upgrade): upgrade secondary pools before the primaries
  src/internal/domain/upgrade/order.go
  src/internal/domain/upgrade/order_test.go
  src/internal/domain/workload/reconcile.go
Due: go-fmt, go-imports, golangci-lint-fast

feat(upgrade): gate an upgrade on the check Neo4j prescribes
  src/internal/domain/formation/reconcile.go
  src/internal/domain/formation/reconcile_test.go
  src/internal/neo4j/admin.go
  src/internal/neo4j/driver.go
Due: go-fmt, go-imports, golangci-lint-fast

test(e2e): cover the rolling upgrade of spec.version
  .github/workflows/ci.yml
  tests/actions/assert/cluster-upgrade/run.sh
  tests/actions/assert/cluster-upgrade/verify.sh
  tests/bin/setup-local-kind.sh
  tests/config/neo4j/cases/cluster-upgrade.sh
  tests/config/versions.sh
  tests/coverage.md
  tests/fixtures/neo4j-cluster-upgrade.yaml
  tests/suites/feature-upgrade.yaml
Due: none

fix(e2e): quote Cypher statements so string literals survive bash -c
  tests/actions/assert/cluster-upgrade/verify.sh
Due: none

test(upgrade): cover the wiring, not just the functions
  src/internal/controller/neo4j/reconciler_upgrade_test.go
  src/internal/domain/workload/reconcile_upgrade_test.go
  src/internal/render/context_test.go
Due: go-fmt, go-imports, golangci-lint-fast

test(e2e): cover the failed upgrade path, and fix two bugs it found
  src/internal/domain/upgrade/observe.go
  src/internal/domain/upgrade/observe_test.go
  src/internal/domain/workload/reconcile.go
  src/internal/domain/workload/reconcile_upgrade_test.go
  src/internal/status/writer.go
  tests/actions/assert/upgrade-stall/run.sh
  tests/actions/assert/upgrade-stall/verify.sh
  tests/config/neo4j/base.sh
  tests/config/neo4j/cases/upgrade-stall.sh
  tests/config/reconcile.sh
  tests/fixtures/neo4j-upgrade-stall.yaml
  tests/suites/feature-upgrade.yaml
Due: go-fmt, go-imports, golangci-lint-fast

fix(upgrade): hold the primaries until the secondary status catches up
  src/internal/domain/upgrade/order.go
  src/internal/domain/upgrade/order_test.go
  src/internal/domain/workload/reconcile.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(connectivity): preserve server-populated Service fields on reconcile
  src/internal/domain/connectivity/preserve_test.go
  src/internal/domain/connectivity/reconcile.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(backup-restore): make PVC backup→restore round-trip work end to end
  charts/neo4j-operator/templates/_helpers.tpl
  src/internal/neo4j/driver.go
  src/internal/render/backup/job.go
  src/internal/render/backup/job_test.go
  src/internal/render/serverconfig/cluster_defaults.go
  src/internal/render/serverconfig/cluster_defaults_test.go
  src/internal/render/workload/security.go
Due: go-fmt, go-imports, golangci-lint-fast

feat(backup): add Neo4jBackup, Neo4jBackupSchedule, Neo4jRestore CRD types
  Makefile
  config/crd/bases/kustomization.yaml
  config/crd/bases/neo4j.com_neo4jbackups.yaml
  config/crd/bases/neo4j.com_neo4jbackupschedules.yaml
  config/crd/bases/neo4j.com_neo4jrestores.yaml
  src/api/v1beta1/backup_types_test.go
  src/api/v1beta1/cel_rules_test.go
  src/api/v1beta1/neo4jbackup_types.go
  src/api/v1beta1/neo4jbackupschedule_types.go
  src/api/v1beta1/neo4jrestore_types.go
  src/api/v1beta1/zz_generated.deepcopy.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(backup-restore): make PVC backup→restore round-trip work end to end
  docs/design/decision-records/architecture/015-backup-and-restore.md
  src/internal/rbac/manager_role_sync_test.go
Due: go-fmt, go-imports, golangci-lint-fast

feat(restore): backup->restore round-trip via file:/backups pointer
  config/crd/bases/neo4j.com_neo4jbackups.yaml
  src/api/v1beta1/neo4jbackup_types.go
  src/internal/controller/neo4jbackup/reconciler.go
  src/internal/controller/neo4jrestore/reconciler.go
  src/internal/controller/neo4jrestore/reconciler_test.go
  src/internal/render/backup/job.go
  src/internal/render/backup/job_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fixup! fixup! docs(design): add backup/restore decision records (BDR-014, ADR-015)
  docs/design/backup-restore/disaster-recovery.md
  docs/design/decision-records/architecture/015-backup-and-restore.md
  docs/design/decision-records/business/backup-restore/014-backup-restore.md
  docs/design/decision-records/readme.md
Due: none

feat(restore): add source.aggregate for chain-collapsing restore
  config/crd/bases/neo4j.com_neo4jbackups.yaml
  config/crd/bases/neo4j.com_neo4jrestores.yaml
  docs/design/decision-records/architecture/015-backup-and-restore.md
  docs/user-guide/05-reference/errors.md
  src/api/v1beta1/neo4jrestore_types.go
  src/internal/controller/neo4jbackup/reconciler.go
  src/internal/controller/neo4jrestore/reconciler.go
  src/internal/controller/neo4jrestore/reconciler_test.go
  src/internal/domain/shared/pods.go
  src/internal/oracle/catalog.go
  src/internal/render/backup/aggregate.go
  src/internal/render/backup/aggregate_test.go
  tests/lib/oracle.sh
Due: go-fmt, go-imports, golangci-lint-fast

test(restore): credential-free file: seed e2e + allow file:/server: url
  config/crd/bases/neo4j.com_neo4jrestores.yaml
  src/api/v1beta1/neo4jrestore_types.go
  tests/actions/assert/restore-succeeded/run.sh
  tests/actions/assert/restore-succeeded/verify.sh
  tests/actions/restore/cleanup/run.sh
  tests/actions/restore/seed/run.sh
  tests/actions/restore/seed/verify.sh
  tests/config/cloud/aws-eks.sh
  tests/fixtures/neo4j-restore.yaml
  tests/lib/oracle.sh
  tests/suites/feature-restore.yaml
Due: go-fmt, go-imports, golangci-lint-fast

feat(restore): reconcile Neo4jRestore via Bolt seed-from-URI
  config/rbac/role.yaml
  docs/user-guide/05-reference/errors.md
  src/cmd/manager/main.go
  src/internal/controller/neo4jrestore/reconciler.go
  src/internal/controller/neo4jrestore/reconciler_test.go
  src/internal/domain/formation/dial.go
  src/internal/domain/formation/reconcile_test.go
  src/internal/neo4j/admin.go
  src/internal/neo4j/driver.go
  src/internal/oracle/catalog.go
  tests/lib/oracle.sh
Due: go-fmt, go-imports, golangci-lint-fast

docs(design): add backup/restore decision records (BDR-014, ADR-015)
  docs/design/decision-records/architecture/015-backup-and-restore.md
  docs/design/decision-records/business/backup-restore/014-backup-restore.md
  docs/design/decision-records/business/database/013-database.md
  docs/design/decision-records/readme.md
Due: none

refactor(backup-restore): single-source the PVC round-trip path contract
  src/internal/controller/neo4jrestore/reconciler.go
  src/internal/render/backup/job.go
  src/internal/render/storage/volumes.go
  src/internal/render/storage/volumes_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fixup! docs(design): add backup/restore decision records (BDR-014, ADR-015)
  docs/design/decision-records/architecture/015-backup-and-restore.md
  docs/design/decision-records/business/backup-restore/014-backup-restore.md
  docs/design/decision-records/readme.md
Due: none

feat(backup): reconcile Neo4jBackup into a neo4j-admin Job
  config/rbac/role.yaml
  docs/user-guide/05-reference/errors.md
  src/cmd/manager/main.go
  src/internal/controller/neo4jbackup/reconciler.go
  src/internal/controller/neo4jbackup/reconciler_test.go
  src/internal/oracle/catalog.go
  src/internal/render/backup/job.go
  src/internal/render/backup/job_test.go
  tests/actions/assert/backup-succeeded/run.sh
  tests/actions/assert/backup-succeeded/verify.sh
  tests/actions/backup/cleanup/run.sh
  tests/actions/backup/create/run.sh
  tests/actions/backup/create/verify.sh
  tests/fixtures/neo4j-backup-pvc.yaml
  tests/fixtures/neo4jbackup-pvc.yaml
  tests/lib/oracle.sh
  tests/suites/feature-backup.yaml
Due: go-fmt, go-imports, golangci-lint-fast

feat(backup-restore): make incremental backups restorable via chain-seed
  docs/design/decision-records/architecture/015-backup-and-restore.md
  src/api/v1beta1/neo4jbackup_types.go
  src/internal/controller/neo4jbackup/reconciler.go
  src/internal/controller/neo4jbackup/reconciler_test.go
  src/internal/controller/neo4jrestore/reconciler.go
  src/internal/render/backup/job.go
  src/internal/render/backup/job_test.go
Due: go-fmt, go-imports, golangci-lint-fast

fix(neo4jrestore): guard forceOffline CEL rule against unset field
  config/crd/bases/neo4j.com_neo4jrestores.yaml
  src/api/v1beta1/neo4jrestore_types.go
Due: go-fmt, go-imports, golangci-lint-fast

feat(schedule): Neo4jBackupSchedule cron emitter (increment 1)
  charts/neo4j-operator/templates/_helpers.tpl
  config/rbac/role.yaml
  docs/design/crd-spec/neo4j/status.md
  docs/user-guide/05-reference/errors.md
  go.mod
  go.sum
  src/cmd/manager/main.go
  src/internal/controller/neo4jbackup/reconciler.go
  src/internal/controller/neo4jbackupschedule/reconciler.go
  src/internal/controller/neo4jbackupschedule/reconciler_test.go
  src/internal/oracle/catalog.go
  tests/lib/oracle.sh
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint-fast

test(e2e): opt restore targets into plaintext admin Bolt (NEO-004)
  tests/fixtures/neo4j-backup-mounted-pvc.yaml
  tests/fixtures/neo4j-restore.yaml
Due: none

docs(bdr-014): align docs with shipped aggregate + retention
  docs/design/decision-records/business/backup-restore/014-backup-restore.md
Due: none

refactor(api): drop dead incremental.retention field
  config/crd/bases/neo4j.com_neo4jbackupschedules.yaml
  docs/design/decision-records/architecture/015-backup-and-restore.md
  docs/design/decision-records/business/backup-restore/014-backup-restore.md
  docs/design/decision-records/readme.md
  src/api/v1beta1/neo4jbackupschedule_types.go
  src/api/v1beta1/zz_generated.deepcopy.go
  src/internal/controller/neo4jbackupschedule/reconciler_test.go
Due: go-fmt, go-imports, golangci-lint-fast

feat(schedule): aggregate cadence — boundary compaction + aggregate-aware retention
  config/crd/bases/neo4j.com_neo4jbackupschedules.yaml
  docs/user-guide/05-reference/errors.md
  src/api/v1beta1/backup_types_test.go
  src/api/v1beta1/neo4jbackupschedule_types.go
  src/internal/controller/neo4jbackupschedule/reconciler.go
  src/internal/controller/neo4jbackupschedule/reconciler_test.go
  src/internal/oracle/catalog.go
  src/internal/render/backup/prune.go
  src/internal/render/backup/prune_test.go
  tests/lib/oracle.sh
Due: go-fmt, go-imports, golangci-lint-fast

feat(backup): per-chain sub-directory isolation + gate incrementals on full completion
  docs/user-guide/05-reference/errors.md
  src/internal/controller/neo4jbackup/reconciler.go
  src/internal/controller/neo4jbackup/reconciler_test.go
  src/internal/controller/neo4jbackupschedule/reconciler.go
  src/internal/controller/neo4jbackupschedule/reconciler_test.go
  src/internal/oracle/catalog.go
  src/internal/render/backup/aggregate.go
  src/internal/render/backup/job.go
  src/internal/render/backup/job_test.go
  src/internal/render/backup/prune.go
  src/internal/render/backup/prune_test.go
  tests/lib/oracle.sh
Due: go-fmt, go-imports, golangci-lint-fast

test(e2e): add backupRef chain restore suite (feature-restore-backupref)
  tests/actions/assert/restore-chain/verify.sh
  tests/actions/restore/backupref-chain/run.sh
  tests/actions/restore/backupref-cleanup/run.sh
  tests/fixtures/neo4j-backup-mounted-pvc.yaml
  tests/suites/feature-restore-backupref.yaml
Due: none

feat(backup): populate status.artifacts[].sizeBytes
  docs/design/crd-spec/neo4j/status.md
  src/internal/controller/neo4jbackup/reconciler.go
  src/internal/controller/neo4jbackup/reconciler_test.go
  src/internal/controller/neo4jrestore/reconciler.go
  src/internal/domain/shared/pods.go
  src/internal/domain/shared/pods_test.go
  src/internal/render/backup/aggregate.go
  src/internal/render/backup/job.go
  src/internal/render/backup/job_test.go
  tests/lib/oracle.sh
Due: go-fmt, go-imports, golangci-lint-fast

Path conditions:
  go-fmt: any of: \.go$
  go-imports: any of: \.go$
  go-mod-tidy: any of: ^go\.(mod|sum)$
  golangci-lint-fast: any of: \.go$
