Repository neo4j-partners/neo4j-kubernetes-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, golangci-lint-fast

go-fmt:
  name: go fmt
  entry: gofmt
  args:
  - -w
  - -s
  language: system

go-imports:
  name: go imports
  entry: bash -c 'goimports -w .'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

golangci-lint-fast:
  name: golangci-lint (fast)
  entry: bash -c 'make golangci-lint && ./bin/golangci-lint run --config .golangci-precommit.yml --fix --timeout=2m'
  language: system
  pass_filenames: false

fix(backup): make retention cleanup-Job creation idempotent (#298)
  internal/controller/backup_restore_field_findings_test.go
  internal/controller/neo4jbackup_controller.go
Due: go-fmt, go-imports, golangci-lint-fast

finalize skills before dev
  .cursor/rules/adr-format.mdc
  .cursor/rules/bdr-format.mdc
  .cursor/rules/kubernetes-operator-crd.mdc
  .cursor/rules/kubernetes-operator-reconcile.mdc
  .cursor/rules/operator-layering.mdc
  .cursor/skills/kubernetes-operator/ATTRIBUTION.md
  .cursor/skills/kubernetes-operator/SKILL.md
  .cursor/skills/kubernetes-operator/assets/crd_template.yaml
  .cursor/skills/kubernetes-operator/assets/reconcile_skeleton.go
  .cursor/skills/kubernetes-operator/references/crd_design.md
  .cursor/skills/kubernetes-operator/references/operator_pattern.md
  .cursor/skills/kubernetes-operator/references/reconcile_loop.md
  .cursor/skills/kubernetes-operator/references/tooling_landscape.md
  .cursor/skills/kubernetes-operator/scripts/crd_validator.py
  .cursor/skills/kubernetes-operator/scripts/operator-audit.sh
  .cursor/skills/kubernetes-operator/scripts/reconcile_lint.py
  .cursor/skills/readme.md
  docs/01-prd/00-prd-full.md
  docs/01-prd/13-roadmap.md
  docs/01-prd/14-open-questions.md
  docs/02-technical-design/analysis/helm-fields/breaking-change-register.md
  docs/02-technical-design/analysis/helm-fields/review-2026-06-22.md
  docs/02-technical-design/analysis/helm-fields/semantic-concerns.yaml
  docs/02-technical-design/crd-spec/neo4j/spec.md
  docs/02-technical-design/crd-spec/neo4j/validation.md
  docs/02-technical-design/decision-records/business/neo4j/002-neo4j-crd-topology.md
  docs/02-technical-design/decision-records/business/neo4j/006-service-exposure-connectivity.md
  docs/02-technical-design/decision-records/business/neo4j/010-neo4j-features-catalog.md
  docs/02-technical-design/decision-records/business/neo4j/011-https-connector-tls-coupling.md
  docs/02-technical-design/decision-records/readme.md
Due: go-fmt, go-imports, golangci-lint-fast

neo4j crd
  .cursor/skills/kubernetes-operator/scripts/crd_validator.py
  Makefile
  PROJECT
  config/crd/bases/kustomization.yaml
  config/crd/bases/neo4j.com_neo4js.yaml
  config/samples/neo4j_v1beta1_neo4j.yaml
  config/samples/neo4j_v1beta1_neo4j_cluster.yaml
  docs/02-technical-design/crd-spec/neo4j/example.yaml
  go.mod
  go.sum
  hack/boilerplate.go.txt
  src/api/v1beta1/common_types.go
  src/api/v1beta1/groupversion_info.go
  src/api/v1beta1/neo4j_types.go
  src/api/v1beta1/neo4j_types_test.go
  src/api/v1beta1/neo4j_validation_test.go
  src/api/v1beta1/zz_generated.deepcopy.go
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint-fast

fix deploy
  .gitignore
  Makefile
  config/crd/bases/neo4j.com_neo4js.yaml
  docs/03-user-documentation/neo4j/01-quickstart-standalone.md
  docs/03-user-documentation/operator/01-prerequisites.md
  docs/03-user-documentation/operator/02-installation.md
  docs/03-user-documentation/operator/install/azure/aks/install.md
  docs/03-user-documentation/operator/install/local/kind/install.md
  docs/03-user-documentation/operator/install/readme.md
  docs/03-user-documentation/readme.md
  src/api/v1beta1/common_types.go
  src/api/v1beta1/neo4j_types.go
Due: go-fmt, go-imports, golangci-lint-fast

some fixes
  Makefile
  config/samples/neo4j_v1beta1_neo4j.yaml
  config/samples/neo4j_v1beta1_neo4j_cluster.yaml
  docs/02-technical-design/crd-spec/neo4j/example-cluster.yaml
  docs/02-technical-design/crd-spec/neo4j/example.yaml
  docs/02-technical-design/crd-spec/neo4j/status.md
  docs/03-user-documentation/neo4j/01-quickstart-standalone.md
  docs/03-user-documentation/neo4j/02-quickstart-cluster.md
  docs/03-user-documentation/neo4j/readme.md
  docs/03-user-documentation/operator/01-prerequisites.md
  docs/03-user-documentation/operator/02-installation.md
  docs/03-user-documentation/operator/03-uninstall.md
  docs/03-user-documentation/operator/04-troubleshooting.md
  docs/03-user-documentation/operator/install/azure/aks/install.md
  docs/03-user-documentation/operator/install/local/kind/install.md
  docs/03-user-documentation/operator/install/readme.md
  docs/03-user-documentation/quickstart/azure-aks/install.md
  docs/03-user-documentation/quickstart/local-kind/install.md
  docs/03-user-documentation/quickstart/readme.md
  docs/03-user-documentation/readme.md
  src/api/v1beta1/neo4j_types_test.go
  src/internal/render/context_test.go
  src/internal/render/workload/statefulset_test.go
Due: go-fmt, go-imports, golangci-lint-fast

Fetch correct images depending on edition
  src/internal/render/context.go
  src/internal/render/context_test.go
Due: go-fmt, go-imports, golangci-lint-fast

Propagate agreement to statefulset env
  src/internal/render/context.go
  src/internal/render/workload/statefulset.go
  src/internal/render/workload/statefulset_test.go
Due: go-fmt, go-imports, golangci-lint-fast

Always pull images for controller to override in case of same version fix while developing
  config/manager/manager.yaml
Due: none

Build Docker images for amd64 and arm64
  Makefile
Due: none

Fix spec.config and reconcile when changes
  go.mod
  src/internal/controller/neo4j/reconciler.go
  src/internal/domain/serverconfig/reconcile.go
  src/internal/domain/serverconfig/reconcile_test.go
  src/internal/render/serverconfig/configmap.go
  src/internal/render/serverconfig/configmap_test.go
  src/internal/render/workload/statefulset.go
  src/internal/render/workload/statefulset_test.go
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint-fast

Fix plugins installation and GDS license as optional
  config/crd/bases/neo4j.com_neo4js.yaml
  config/manager/manager.yaml
  src/api/v1beta1/common_types.go
  src/api/v1beta1/neo4j_types.go
  src/api/v1beta1/neo4j_validation_test.go
  src/internal/render/context.go
  src/internal/render/plugins/catalog.go
  src/internal/render/plugins/neo4j_plugins.go
  src/internal/render/plugins/neo4j_plugins_test.go
  src/internal/render/serverconfig/configmap.go
  src/internal/render/serverconfig/configmap_test.go
  src/internal/render/workload/plugin_volumes.go
  src/internal/render/workload/statefulset.go
  src/internal/render/workload/statefulset_test.go
Due: go-fmt, go-imports, golangci-lint-fast

Handle cluster topology reconciliation support
  src/internal/domain/connectivity/reconcile.go
  src/internal/domain/serverconfig/reconcile.go
  src/internal/domain/workload/errors.go
  src/internal/domain/workload/reconcile.go
  src/internal/render/connectivity/services.go
  src/internal/render/context.go
  src/internal/render/pools.go
  src/internal/render/pools_test.go
  src/internal/render/serverconfig/cluster_defaults.go
  src/internal/render/serverconfig/cluster_defaults_test.go
  src/internal/render/serverconfig/configmap.go
  src/internal/render/workload/statefulset.go
  src/internal/render/workload/statefulset_test.go
  src/internal/status/writer.go
Due: go-fmt, go-imports, golangci-lint-fast

Add documentation for manager install error
  docs/03-user-documentation/operator/04-troubleshooting.md
Due: none

Support cluster deployment and reconciliation
  config/rbac/role.yaml
  src/internal/controller/neo4j/reconciler.go
  src/internal/domain/connectivity/reconcile.go
  src/internal/domain/serverconfig/reconcile.go
  src/internal/domain/serverconfig/reconcile_test.go
  src/internal/domain/workload/reconcile.go
  src/internal/render/connectivity/services.go
  src/internal/render/connectivity/services_test.go
  src/internal/render/connectors.go
  src/internal/render/connectors_test.go
  src/internal/render/context.go
  src/internal/render/serverconfig/cluster_defaults.go
  src/internal/render/serverconfig/cluster_defaults_test.go
  src/internal/render/serverconfig/configmap.go
  src/internal/render/serverconfig/configmap_test.go
  src/internal/render/serverconfig/operator_defaults.go
  src/internal/render/workload/rbac.go
  src/internal/render/workload/statefulset.go
  src/internal/render/workload/statefulset_test.go
  src/internal/status/writer.go
Due: go-fmt, go-imports, golangci-lint-fast

Fix formation deadlock by using podManagementPolicy in Parallel
  src/internal/render/workload/statefulset.go
  src/internal/render/workload/statefulset_test.go
Due: go-fmt, go-imports, golangci-lint-fast

Make analytics and read SECONDARY databases to steal formation from the primary
  src/internal/render/serverconfig/cluster_defaults_test.go
  src/internal/render/serverconfig/operator_defaults.go
Due: go-fmt, go-imports, golangci-lint-fast

Retries on resource-version conflicts from concurrent status/owner updates
  src/internal/controller/neo4j/reconciler.go
  src/internal/domain/shared/apply.go
Due: go-fmt, go-imports, golangci-lint-fast

Fix minimumMembers and minimum initial members
  src/api/v1beta1/neo4j_types.go
  src/internal/render/context.go
  src/internal/render/serverconfig/cluster_defaults_test.go
  src/internal/render/serverconfig/operator_defaults.go
Due: go-fmt, go-imports, golangci-lint-fast

Operator Watches only listed namespaces and not Cluster wide
  Makefile
  config/manager/manager.yaml
  config/rbac/role.yaml
  config/rbac/role_binding.yaml
  src/cmd/manager/main.go
  src/cmd/manager/watch.go
  src/cmd/manager/watch_test.go
Due: go-fmt, go-imports, golangci-lint-fast

Support BYO TLS config
  config/samples/neo4j_v1beta1_neo4j_cluster_tls.yaml
  hack/gen-cluster-tls.sh
  src/internal/controller/neo4j/reconciler.go
  src/internal/controller/neo4j/reconciler_test.go
  src/internal/domain/trust/errors.go
  src/internal/domain/trust/reconcile.go
  src/internal/domain/workload/reconcile.go
  src/internal/render/serverconfig/operator_defaults.go
  src/internal/render/trust/volumes.go
  src/internal/render/trust/volumes_test.go
  src/internal/render/workload/statefulset.go
Due: go-fmt, go-imports, golangci-lint-fast

Add TLS support for Standalone
  config/crd/bases/neo4j.com_neo4js.yaml
  config/samples/neo4j_v1beta1_neo4j_standalone_tls.yaml
  hack/gen-cluster-tls.sh
  src/api/v1beta1/neo4j_types.go
  src/internal/render/trust/volumes.go
  src/internal/render/trust/volumes_test.go
Due: go-fmt, go-imports, golangci-lint-fast

Support scheduling (affinity, tolerations, nodeSelector...)
  docs/01-prd/07-functional-requirements.csv
  docs/01-prd/10-acceptance_criteria_library.csv
  docs/03-user-documentation/operator/02-installation.md
  docs/03-user-documentation/operator/04-troubleshooting.md
  src/internal/render/workload/scheduling.go
  src/internal/render/workload/scheduling_test.go
  src/internal/render/workload/statefulset.go
Due: go-fmt, go-imports, golangci-lint-fast

Support Probes override
  docs/01-prd/07-functional-requirements.csv
  docs/01-prd/10-acceptance_criteria_library.csv
  src/internal/render/workload/probes.go
  src/internal/render/workload/probes_test.go
  src/internal/render/workload/statefulset.go
Due: go-fmt, go-imports, golangci-lint-fast

Migrate module to github.com/neo4j/neo4j-kubernetes-operator
  PROJECT
  go.mod
  src/cmd/manager/main.go
  src/internal/controller/neo4j/reconciler.go
  src/internal/controller/neo4j/reconciler_test.go
  src/internal/domain/connectivity/reconcile.go
  src/internal/domain/persistence/reconcile.go
  src/internal/domain/serverconfig/reconcile.go
  src/internal/domain/serverconfig/reconcile_test.go
  src/internal/domain/shared/types.go
  src/internal/domain/trust/reconcile.go
  src/internal/domain/workload/reconcile.go
  src/internal/render/connectivity/services.go
  src/internal/render/connectivity/services_test.go
  src/internal/render/connectors.go
  src/internal/render/connectors_test.go
  src/internal/render/context.go
  src/internal/render/context_test.go
  src/internal/render/pools.go
  src/internal/render/pools_test.go
  src/internal/render/serverconfig/cluster_defaults.go
  src/internal/render/serverconfig/cluster_defaults_test.go
  src/internal/render/serverconfig/configmap.go
  src/internal/render/serverconfig/configmap_test.go
  src/internal/render/serverconfig/operator_defaults.go
  src/internal/render/trust/volumes.go
  src/internal/render/trust/volumes_test.go
  src/internal/render/workload/auth_secret.go
  src/internal/render/workload/plugin_volumes.go
  src/internal/render/workload/probes.go
  src/internal/render/workload/probes_test.go
  src/internal/render/workload/rbac.go
  src/internal/render/workload/scheduling.go
  src/internal/render/workload/scheduling_test.go
  src/internal/render/workload/statefulset.go
  src/internal/render/workload/statefulset_test.go
  src/internal/status/writer.go
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint-fast

Add README and examples for Standalone and Cluster
  README.md
  examples/README.md
  examples/cluster/01-minimal-3-primaries.yaml
  examples/cluster/02-lab-single-primary.yaml
  examples/cluster/03-pools-analytics-read.yaml
  examples/cluster/04-service-loadbalancer.yaml
  examples/cluster/05-service-nodeport.yaml
  examples/cluster/06-tls-full.yaml
  examples/cluster/07-tls-cluster-only.yaml
  examples/cluster/08-scheduling.yaml
  examples/cluster/09-probes-custom.yaml
  examples/cluster/10-config-jvm.yaml
  examples/cluster/11-plugins-apoc.yaml
  examples/cluster/12-backup-and-metrics.yaml
  examples/cluster/13-scale-out.yaml
  examples/cluster/14-full.yaml
  examples/secrets/README.md
  examples/secrets/auth-password.yaml
  examples/secrets/plugin-licenses.yaml
  examples/standalone/01-minimal.yaml
  examples/standalone/02-auth-existing-secret.yaml
  examples/standalone/03-storage-storageclass.yaml
  examples/standalone/04-service-clusterip.yaml
  examples/standalone/05-service-loadbalancer.yaml
  examples/standalone/06-service-nodeport.yaml
  examples/standalone/07-tls-https-bolt.yaml
  examples/standalone/08-tls-bolt-only.yaml
  examples/standalone/09-listeners-backup-metrics.yaml
  examples/standalone/10-scheduling.yaml
  examples/standalone/11-probes-custom.yaml
  examples/standalone/12-config-jvm.yaml
  examples/standalone/13-plugins-apoc.yaml
  examples/standalone/14-image-pullsecrets.yaml
  examples/standalone/15-full.yaml
Due: none

Wire security.serviceAccount.annotations onto the operand ServiceAccount
  src/internal/domain/workload/reconcile.go
  src/internal/render/workload/statefulset.go
  src/internal/render/workload/statefulset_test.go
Due: go-fmt, go-imports, golangci-lint-fast

Harden BYO TLS with Secret key checks and TLSReady status
  src/internal/domain/trust/reconcile.go
  src/internal/domain/trust/reconcile_test.go
  src/internal/render/trust/volumes.go
  src/internal/render/trust/volumes_test.go
  src/internal/status/writer.go
  src/internal/status/writer_test.go
Due: go-fmt, go-imports, golangci-lint-fast

Expand storage beyond Dynamic data and align docs with BDR-005.
  README.md
  docs/00-discovery/13-v1-scope-lock.md
  docs/01-prd/00-prd-full.md
  docs/01-prd/07-functional-requirements.csv
  docs/01-prd/10-acceptance_criteria_library.csv
  docs/01-prd/13-roadmap.md
  docs/02-technical-design/decision-records/business/neo4j/010-neo4j-features-catalog.md
  docs/03-user-documentation/neo4j/01-quickstart-standalone.md
  docs/03-user-documentation/neo4j/02-quickstart-cluster.md
  docs/03-user-documentation/neo4j/readme.md
  docs/03-user-documentation/operator/01-prerequisites.md
  docs/03-user-documentation/operator/04-troubleshooting.md
  docs/03-user-documentation/readme.md
  docs/03-user-documentation/reference/api-cheatsheet.md
  docs/04-test-plan/03-variant_matrix.csv
  docs/04-test-plan/04-test_catalog.csv
  examples/README.md
  examples/storage/01-dynamic-data.yaml
  examples/storage/02-dynamic-storageclass.yaml
  examples/storage/03-existing-claimname-pvc.yaml
  examples/storage/03-existing-claimname.yaml
  examples/storage/04-existing-volume-emptydir.yaml
  examples/storage/05-existing-volumeclaimtemplate.yaml
  examples/storage/06-aux-share-logs-metrics.yaml
  examples/storage/07-aux-dynamic-backups.yaml
  examples/storage/08-aux-existing-import.yaml
  examples/storage/09-additional-mounts.yaml
  examples/storage/10-secret-mounts-secret.yaml
  examples/storage/10-secret-mounts.yaml
  examples/storage/11-full.yaml
  examples/storage/README.md
  src/internal/domain/persistence/errors.go
  src/internal/domain/persistence/reconcile.go
  src/internal/render/storage/validate.go
  src/internal/render/storage/volumes.go
  src/internal/render/storage/volumes_test.go
  src/internal/render/workload/statefulset.go
  src/internal/status/writer.go
Due: go-fmt, go-imports, golangci-lint-fast

Wire Neo4j ServiceMonitor scrape config and align monitoring docs.
  README.md
  config/rbac/role.yaml
  docs/01-prd/07-functional-requirements.csv
  docs/01-prd/10-acceptance_criteria_library.csv
  docs/01-prd/13-roadmap.md
  docs/03-user-documentation/readme.md
  docs/03-user-documentation/reference/api-cheatsheet.md
  docs/04-test-plan/04-test_catalog.csv
  examples/README.md
  examples/standalone/16-servicemonitor.yaml
  src/internal/controller/neo4j/reconciler.go
  src/internal/domain/connectivity/reconcile.go
  src/internal/domain/connectivity/servicemonitor.go
  src/internal/domain/connectivity/servicemonitor_test.go
  src/internal/render/connectivity/servicemonitor.go
  src/internal/render/connectivity/servicemonitor_test.go
Due: go-fmt, go-imports, golangci-lint-fast

Add volumes.plugins Share and fix plugin neo4j.conf defaults.
  config/crd/bases/neo4j.com_neo4js.yaml
  docs/02-technical-design/decision-records/business/neo4j/005-storage-volume-mode.md
  examples/README.md
  examples/storage/12-aux-share-plugins-apoc.yaml
  examples/storage/README.md
  src/api/v1beta1/common_types.go
  src/api/v1beta1/zz_generated.deepcopy.go
  src/internal/domain/serverconfig/reconcile.go
  src/internal/render/serverconfig/cluster_defaults.go
  src/internal/render/serverconfig/cluster_defaults_test.go
  src/internal/render/serverconfig/configmap.go
  src/internal/render/serverconfig/configmap_test.go
  src/internal/render/serverconfig/operator_defaults.go
  src/internal/render/storage/volumes.go
  src/internal/render/storage/volumes_test.go
Due: go-fmt, go-imports, golangci-lint-fast

Update copyright year and owner in LICENSE file
  LICENSE
Due: none

Slim README to a quick start and link out to examples
  README.md
Due: none

Wire spec.image.pullSecrets onto workload StatefulSets
  src/internal/domain/workload/reconcile_pullsecrets_test.go
  src/internal/render/workload/statefulset.go
  src/internal/render/workload/statefulset_test.go
Due: go-fmt, go-imports, golangci-lint-fast

Support offline maintenance mode
  docs/01-prd/07-functional-requirements.csv
  docs/01-prd/10-acceptance_criteria_library.csv
  docs/04-test-plan/03-variant_matrix.csv
  docs/04-test-plan/04-test_catalog.csv
  examples/README.md
  examples/standalone/17-offline-maintenance.yaml
  src/internal/controller/neo4j/reconciler.go
  src/internal/render/context.go
  src/internal/render/workload/offline.go
  src/internal/render/workload/offline_test.go
  src/internal/render/workload/statefulset.go
  src/internal/status/writer.go
Due: go-fmt, go-imports, golangci-lint-fast

Support PodDisruptionBudget
  README.md
  config/rbac/role.yaml
  docs/01-prd/07-functional-requirements.csv
  examples/README.md
  examples/cluster/15-pdb.yaml
  src/internal/controller/neo4j/reconciler.go
  src/internal/domain/workload/reconcile.go
  src/internal/domain/workload/reconcile_pdb_test.go
  src/internal/render/workload/pdb.go
  src/internal/render/workload/pdb_test.go
Due: go-fmt, go-imports, golangci-lint-fast

Path conditions:
  go-fmt: any of: \.go$
  go-imports: any of: \.go$
  go-mod-tidy: any of: ^go\.(mod|sum)$
  golangci-lint-fast: any of: \.go$
