Repository neo4j-partners/neo4j-kubernetes-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, golangci-lint-fast

.pre-commit-config.yaml:

repos:
  # Essential file checks (fast)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']  # Limit to 1MB
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: debug-statements

  # Fast Go code quality checks
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt
        args: [-w, -s]
        language: system
        files: \.go$

      - id: go-imports
        name: go imports
        entry: bash -c 'goimports -w .'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: ^go\.(mod|sum)$
        pass_filenames: false

      - id: golangci-lint-fast
        name: golangci-lint (fast)
        entry: bash -c 'make golangci-lint && ./bin/golangci-lint run --config .golangci-precommit.yml --fix --timeout=2m'
        language: system
        files: \.go$
        pass_filenames: false

  # Security checks (fast)
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

  # YAML validation (fast)
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        files: \.(yaml|yml)$

  # Commit message validation
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.29.1
    hooks:
      - id: commitizen
        stages: [commit-msg]

test: verify multi-document YAML support in pre-commit hooks
  test-multi-doc.yaml
Due: none

feat: enhance development environment setup
  .dev-config
  scripts/dev-environment.sh
Due: none

feat: update metrics port and enable webhook configuration
  .dev-config
  cmd/main.go
  config/crd/kustomization.yaml
  scripts/dev-environment.sh
Due: go-fmt, go-imports, golangci-lint-fast

feat: add development environment cleanup commands
  Makefile
  scripts/dev-environment.sh
Due: none

feat: enhance startup feedback and troubleshooting documentation
  cmd/main.go
  docs/development/startup-troubleshooting.md
  scripts/dev-environment.sh
Due: go-fmt, go-imports, golangci-lint-fast

refactor: streamline CI workflows and enhance testing reliability
  .github/workflows/ci.yml
  .golangci.yml
  internal/controller/autoscaler_test.go
  internal/controller/neo4jdatabase_controller_test.go
  internal/controller/neo4jenterprisecluster_controller_test.go
  internal/controller/security_coordinator_test.go
  internal/neo4j/client_test.go
  internal/webhooks/neo4jenterprisecluster_webhook_test.go
  test/e2e/e2e_test.go
  test/integration/failure_scenarios_test.go
Due: go-fmt, go-imports, golangci-lint-fast

refactor: enhance deletion handlers with improved logging and error handling
  .github/workflows/static-analysis.yml
  internal/controller/neo4jdatabase_controller.go
  internal/controller/neo4jenterprisecluster_controller.go
Due: go-fmt, go-imports, golangci-lint-fast

feat: enhance plugin management and query monitoring capabilities
  .github/workflows/ci.yml
  .github/workflows/openshift-certification.yml
  .github/workflows/test-validation.yml
  Makefile
  api/v1alpha1/zz_generated.deepcopy.go
  docs/plugin-management-guide.md
  docs/query-monitoring-guide.md
  go.mod
  internal/controller/neo4jdatabase_controller_test.go
  internal/controller/neo4jenterprisecluster_controller.go
  internal/controller/neo4jenterprisecluster_controller_test.go
  internal/controller/security_coordinator_test.go
  internal/resources/cluster.go
  internal/resources/cluster_test.go
  scripts/test-cleanup.sh
Due: go-fmt, go-imports, go-mod-tidy, golangci-lint-fast

chore: remove DNS configuration from Kind cluster setup
  hack/kind-config.yaml
Due: none

feat: ensure SARIF file existence in CI workflow
  .github/workflows/ci.yml
Due: none

refactor: clean up whitespace in Kind setup script
  scripts/setup-kind-dirs.sh
Due: none

feat: introduce initial alpha release notes and enhance CI workflow for Docker environment
  .github/workflows/ci.yml
  RELEASE_NOTES_ALPHA_WIP.md
  hack/kind-config-ci.yaml
  hack/kind-config-minimal.yaml
Due: none

feat: enhance CI workflow with improved Kind cluster setup and resource management
  .github/workflows/ci.yml
  RELEASE_NOTES_ALPHA_WIP.md
  hack/kind-config-ci.yaml
  hack/kind-config-minimal.yaml
  hack/kind-config-single.yaml
Due: none

feat: enhance CI workflow with comprehensive test environment setup and operator deployment
  .github/workflows/ci.yml
  scripts/test-cleanup.sh
Due: none

feat: enhance CI workflow with detailed operator deployment checks and resource management
  .github/workflows/ci.yml
  config/default/kustomization.yaml
  config/default/manager_resources_patch.yaml
  hack/kind-config-basic.yaml
Due: none

feat: enhance CI workflow with new test targets and improved cluster configurations
  .github/workflows/ci.yml
  Makefile
  hack/kind-config-basic.yaml
  hack/kind-config-cgroups.yaml
  hack/kind-config-ci.yaml
  hack/kind-config-minimal.yaml
  hack/kind-config-robust.yaml
  hack/kind-config-single.yaml
  scripts/test-cluster-creation.sh
Due: none

feat: enhance CI workflow with new testing capabilities and cgroup support
  .github/workflows/ci.yml
  Makefile
  hack/kind-config-basic.yaml
  hack/kind-config-ci.yaml
  hack/kind-config-minimal.yaml
  hack/kind-config-robust.yaml
  hack/kind-config-single.yaml
  scripts/test-ci-cluster.sh
  scripts/test-cluster-creation.sh
Due: none

feat: enhance CI workflow with new deployment capabilities and resource management
  .github/workflows/ci.yml
  Makefile
  config/ci/disable_webhooks_patch.yaml
  config/ci/kustomization.yaml
  config/ci/manager_metrics_patch.yaml
  config/ci/manager_resources_patch.yaml
  config/ci/metrics_service.yaml
  config/rbac/leader_election_role.yaml
  config/rbac/leader_election_role_binding.yaml
  config/rbac/metrics_auth_role_binding.yaml
  config/rbac/role_binding.yaml
  config/rbac/service_account.yaml
  hack/kind-config-basic.yaml
  hack/kind-config-cgroups-v2.yaml
  hack/kind-config-cgroups.yaml
  hack/kind-config-ci.yaml
  hack/kind-config-minimal.yaml
  hack/kind-config-robust.yaml
  hack/kind-config-simple.yaml
  hack/kind-config-single.yaml
  hack/kind-config.yaml
  scripts/test-cluster-creation.sh
Due: none
